Repository vlggms/tegustation-bay12, pull requests merged in 2021-09, with the labels that each got.

#111 adherent culture string changes to reflect updated lore
  code/modules/culture_descriptor/culture/cultures_adherent.dm
  code/modules/culture_descriptor/faction/factions_adherent.dm
  code/modules/species/station/adherent.dm
Labels: 🌳1 Lore

#113 xenobotany and ai fixes
  code/controllers/subsystems/plants.dm
  code/modules/ai/ai_holder_combat.dm
  code/modules/ai/ai_holder_movement.dm
  code/modules/ai/interfaces.dm
Labels: 🔧1 Fix

#98 creates interact_message proc and does preliminary implementation work on it
  code/_macros.dm
  code/game/objects/items/devices/flash.dm
  code/modules/mob/mob.dm
Labels: 🔬1 Code improvement, 🔨1 Tweak

#94 bluespace river away site update
  code/modules/mining/mine_turfs.dm
  code/modules/xenoarcheaology/finds/misc.dm
  maps/away/blueriver/blueriver-1.dmm
  maps/away/blueriver/blueriver-2.dmm
  maps/away/blueriver/blueriver.dm
  maps/away/blueriver/blueriver_areas.dm
Labels: 🔨1 Tweak, 🍁1 Map, 📀3 Testmerged

#109 Ports Bay's teleporter beacon overhaul, with a few adjustments
  baystation12.dme
  code/controllers/subsystems/supply.dm
  code/datums/wires/wires.dm
  code/game/machinery/Beacon.dm
  code/game/machinery/teleporter/beacon.dm
  code/game/machinery/teleporter/console.dm
  code/game/machinery/teleporter/pad.dm
  code/game/objects/items/devices/radio/beacon.dm
  code/game/objects/items/devices/radio/radio.dm
  code/game/objects/items/weapons/circuitboards/machinery/teleporter.dm
  code/game/objects/items/weapons/storage/belt.dm
  code/game/objects/items/weapons/teleportation.dm
  code/modules/clothing/spacesuits/rig/suits/station.dm
  code/modules/clothing/spacesuits/void/station.dm
  code/modules/research/designs/designs_bluespace.dm
  code/modules/research/designs/designs_circuits.dm
  code/modules/xenoarcheaology/artifacts/replicator.dm
  code/modules/xenoarcheaology/finds/find_spawning.dm
  code/modules/xenoarcheaology/tools/equipment.dm
  code/modules/xenoarcheaology/tools/tools.dm
  icons/obj/teleporter.dmi
  maps/example/example-1.dmm
  maps/torch/items/clothing/solgov-suit.dm
  maps/torch/items/rigs.dm
  maps/torch/structures/closets.dm
  maps/torch/structures/closets/exploration.dm
  maps/torch/torch1_deck5.dmm
  maps/torch/torch2_deck4.dmm
  maps/torch/torch3_deck3.dmm
  maps/torch/torch4_deck2.dmm
  maps/torch/torch5_deck1.dmm
  maps/torch/torch6_bridge.dmm
Labels: ⚖1 Balance, 📘1 Feature

#104 Adds handshaking and pulling by hands
  code/modules/mob/mob.dm
  code/modules/species/species.dm
Labels: 📘1 Feature

#116 minor pr template change
  .github/PULL_REQUEST_TEMPLATE.md
Labels: 💻2 Github

#99 First pass of standardized health, ported from bay
  baystation12.dme
  code/datums/extensions/health/_defines.dm
  code/datums/extensions/health/_health.dm
  code/datums/extensions/health/atom.dm
  code/datums/extensions/health/damage_sources.dm
  code/game/atoms.dm
  code/game/gamemodes/cult/runes.dm
  code/game/objects/items/weapons/grenades/flashbang.dm
  code/game/objects/items/weapons/grenades/smokebomb.dm
  code/modules/blob/blob.dm
Labels: 🔬1 Code improvement, 📀3 Testmerged

#112 reformatted exoplanet scan reports, changes exoplanet name generation, and gives more detailed descriptions for exoplanet classes
  baystation12.dme
  code/_helpers/names.dm
  code/modules/overmap/exoplanets/_exoplanet.dm
  code/modules/overmap/exoplanets/planet_themes/radiation_bombing.dm
  code/modules/overmap/exoplanets/planet_types/barren.dm
  code/modules/overmap/exoplanets/planet_types/chlorine.dm
  code/modules/overmap/exoplanets/planet_types/desert.dm
  code/modules/overmap/exoplanets/planet_types/lush.dm
  code/modules/overmap/exoplanets/planet_types/shrouded.dm
  code/modules/overmap/exoplanets/planet_types/snow.dm
  code/modules/overmap/exoplanets/planet_types/volcanic.dm
  code/modules/overmap/sectors.dm
  code/modules/random_map/noise/ore.dm
Labels: 🔨1 Tweak

#115 Mop resprite
  icons/obj/janitor.dmi
Labels: 🔨1 Tweak, 🚢2 Ported

#118 fuelport resprite
  icons/turf/shuttle.dmi
Labels: 🔨1 Tweak, 🚢2 Ported

#119 Runechat
  baystation12.dme
  code/_helpers/global_access.dm
  code/modules/client/preference_setup/global/preferences.dm
  code/modules/mob/floating_message.dm
  code/modules/mob/living/say.dm
  test/run-test.sh
Labels: 📘1 Feature, 🚢2 Ported

#117 Syringe resprite
  icons/obj/reagentfillings.dmi
  icons/obj/syringe.dmi
Labels: 🔨1 Tweak, 📀3 Testmerged, 🚢2 Ported
