Repository vlggms/tegustation-bay12, pull requests merged in 2021-12, with the labels that each got.

#211 Aurora Station Unbranded Reskin Port
  icons/mob/human_races/cyberlimbs/robotic.dmi
Labels: 🔨1 Tweak, 🚢2 Ported

#210 Ice is now visible in drinks and water no longer makes noise
  code/modules/reagents/Chemistry-Holder.dm
  code/modules/reagents/Chemistry-Reagents/Chemistry-Reagents-Core.dm
  code/modules/reagents/reagent_containers.dm
  code/modules/reagents/reagent_containers/glass.dm
Labels: 🔨1 Tweak, 🔧1 Fix

#213 Quick .dme fix
  baystation12.dme
Labels: 🔧1 Fix, 🔥2 Speedmerge

#212 Minor fixes to mininghome.dmm and miningstation.dmm
  maps/away/mininghome/mininghome.dmm
  maps/away/miningstation/miningstation.dmm
Labels: 🔨1 Tweak

#205 Buffs cyborg speed
  code/modules/mob/living/silicon/robot/drone/drone.dm
  code/modules/mob/living/silicon/robot/flying/flying.dm
  code/modules/mob/living/silicon/robot/robot.dm
Labels: ⚖1 Balance

#195 Few trader tweaks
  baystation12.dme
  code/controllers/subsystems/trade.dm
  code/datums/trading/illegal.dm
  code/datums/trading/weaponry.dm
Labels: 📘1 Feature, 🔨1 Tweak

#207 Simple mobs can eat tables
  code/modules/mob/living/simple_animal/simple_animal.dm
  code/modules/tables/interactions.dm
Labels: 🔧1 Fix

#216 T12 rifle
  code/__defines/guns.dm
  code/game/sound.dm
  code/modules/projectiles/ammunition/boxes.dm
  code/modules/projectiles/ammunition/bullets.dm
  code/modules/projectiles/guns/projectile/automatic.dm
  code/modules/projectiles/projectile/bullets.dm
  icons/mob/onmob/items/lefthand_guns.dmi
  icons/mob/onmob/items/righthand_guns.dmi
  icons/mob/onmob/onmob_back.dmi
  icons/obj/ammo.dmi
  icons/obj/guns/t12.dmi
  sound/weapons/gunshot/autorifle-1.ogg
  sound/weapons/gunshot/autorifle-2.ogg
  sound/weapons/gunshot/autorifle-3.ogg
Labels: 📘1 Feature

#220 Exoplanet awakening event now considers current server population when choosing severity
  code/modules/events/exo_awakening/exo_awaken.dm
Labels: 🔨1 Tweak

#223 Stock parts icons
  code/game/machinery/_machines_base/stock_parts/legacy_parts.dm
  icons/obj/stock_parts.dmi
Labels: 🔨1 Tweak, 🚢2 Ported

#225 Change aux fuel to CO2
  maps/torch/torch5_deck1.dmm
Labels: 🔨1 Tweak

#230 Removes intercoms processing
  code/game/area/area_power.dm
  code/game/objects/items/devices/radio/intercom.dm
Labels: 🔨1 Tweak, 🚢2 Ported

#229 Adds rest button and some other ui edits
  code/_onclick/hud/_defines.dm
  code/_onclick/hud/hud.dm
  code/_onclick/hud/human.dm
  code/_onclick/hud/screen_objects.dm
  code/modules/mob/living/living.dm
  code/modules/species/species_hud.dm
  icons/mob/screen/midnight.dmi
  icons/mob/screen/minimalist.dmi
  icons/mob/screen/old-noborder.dmi
  icons/mob/screen/old.dmi
  icons/mob/screen/orange.dmi
  icons/mob/screen/white.dmi
Labels: 📘1 Feature, 🔨1 Tweak, 🚢2 Ported

#231 Precise pointing
  code/modules/mob/mob.dm
  icons/mob/screen1.dmi
Labels: 🔨1 Tweak

#233 Add toggle aim mode as a keybind
  code/modules/keybindings/living.dm
Labels: 🔨1 Tweak

#235 Fuel tanks explode from other explosions
  code/modules/reagents/reagent_dispenser.dm
Labels: 🔨1 Tweak

#236 Spider leap attack check
  code/modules/mob/living/simple_animal/hostile/giant_spider/hunter.dm
Labels: 🔧1 Fix

#238 Fix stethoscope, change unathi heart sounds
  code/modules/clothing/under/accessories/stethoscope.dm
  code/modules/organs/internal/species/unathi.dm
  code/modules/species/station/lizard.dm
Labels: 🔨1 Tweak, 🔧1 Fix

#239 Unathi auras don't work under 280 Kelvin
  code/game/objects/auras/regenerating_aura.dm
Labels: 🔨1 Tweak

#219 Adds Meraline, anti-brute chemical
  code/modules/reagents/Chemistry-Reagents/medicines/medicines_core.dm
  code/modules/reagents/Chemistry-Recipes.dm
Labels: 🔨1 Tweak

#222 Recharger tweaks
  baystation12.dme
  code/game/machinery/_machines_base/machine_construction/item_chassis.dm
  code/game/machinery/recharger.dm
  code/game/objects/items/weapons/circuitboards/machinery/recharger.dm
  code/modules/research/designs/designs_circuits.dm
  icons/obj/stationobjs.dmi
Labels: 🔨1 Tweak, 🔧1 Fix

#224 Syringe stab fix
  code/modules/reagents/reagent_containers/syringes.dm
Labels: 🔧1 Fix

#234 Updates recharge station
  code/game/machinery/rechargestation.dm
  icons/obj/objects.dmi
Labels: 🔨1 Tweak

#237 Makes landmarks work on holodeck
  code/_helpers/unsorted.dm
  code/modules/holodeck/HolodeckObjects.dm
  maps/torch/z1_admin.dmm
Labels: 🔧1 Fix

#249 Location blurb
  code/controllers/subsystems/jobs.dm
Labels: 📘1 Feature, 🚢2 Ported

#240 Unathi can wear head of staff HCMs
  icons/mob/species/unathi/generated/onmob_feet_unathi.dmi
  icons/mob/species/unathi/generated/onmob_hands_unathi.dmi
  icons/mob/species/unathi/generated/onmob_head_unathi.dmi
  icons/mob/species/unathi/generated/onmob_suit_unathi.dmi
  maps/torch/items/rigs.dm
Labels: 🔨1 Tweak

#218 Sleeper tweaks.
  code/game/machinery/Sleeper.dm
Labels: 🔨1 Tweak

#221 Singularity tweaks
  code/modules/power/singularity/act.dm
  code/modules/power/singularity/singularity.dm
Labels: 🔨1 Tweak

#244 Containment field + PA console tweaks
  code/modules/power/singularity/containment_field.dm
  code/modules/power/singularity/particle_accelerator/particle_control.dm
Labels: 🔨1 Tweak, 🔧1 Fix

#243 Christmas time
  baystation12.dme
  code/game/objects/items/weapons/gift.dm
  code/game/objects/items/weapons/gift_wrappaper.dm
  code/game/objects/items/weapons/storage/backpack.dm
  code/game/objects/random/date_based.dm
  code/game/objects/structures/flora.dm
  icons/mob/onmob/items/lefthand_backpacks.dmi
  icons/mob/onmob/items/righthand_backpacks.dmi
  icons/obj/flora/pinetrees.dmi
  icons/obj/items.dmi
  maps/torch/torch3_deck3.dmm
Labels: 📘1 Feature, 📀3 Testmerged, 🚢2 Ported

#248 Sound and emotes tweaks
  baystation12.dme
  code/__defines/sound.dm
  code/_global_vars/sound.dm
  code/game/sound.dm
  code/modules/emotes/definitions/audible.dm
  code/modules/emotes/emote_define.dm
  code/modules/mob/living/carbon/human/say.dm
Labels: 🔬1 Code improvement, 🔨1 Tweak, 🚢2 Ported

#252 Buttons provide a message when you try to interact with them while lacking proper access
  code/game/machinery/buttons.dm
  code/modules/research/rdconsole.dm
Labels: 🔨1 Tweak

#251 General text blurbs
  code/_helpers/unsorted.dm
  code/controllers/subsystems/jobs.dm
Labels: 🔨1 Tweak

#196 Replaces most show_browser instances with browser popups
  code/game/machinery/alarm.dm
  code/game/machinery/atmoalter/area_atmos_computer.dm
  code/game/machinery/computer/Operating.dm
  code/game/machinery/computer/arcade.dm
  code/game/machinery/computer/arcade_orion.dm
  code/game/machinery/computer/prisoner.dm
  code/game/machinery/cryopod.dm
  code/game/machinery/kitchen/microwave.dm
  code/game/machinery/magnet.dm
  code/game/machinery/navbeacon.dm
  code/game/machinery/newscaster.dm
  code/game/machinery/robot_fabricator.dm
  code/game/machinery/suit_cycler.dm
  code/game/machinery/syndicatebeacon.dm
  code/game/objects/items/devices/paicard.dm
  code/game/objects/items/devices/radio/electropack.dm
  code/game/objects/items/stacks/stack.dm
  code/game/objects/items/weapons/flamethrower.dm
  code/game/objects/items/weapons/implants/implantchair.dm
  code/game/objects/items/weapons/scrolls.dm
  code/game/objects/items/weapons/storage/secure.dm
  code/game/objects/items/weapons/teleportation.dm
  code/game/objects/structures/safe.dm
  code/game/objects/structures/tank_dispenser.dm
  code/game/objects/structures/under_wardrobe.dm
  code/modules/holodeck/HolodeckControl.dm
  code/modules/spells/spellbook.dm
  code/modules/turbolift/turbolift_console.dm
Labels: 🔬1 Code improvement, 🔨1 Tweak

#214 Removes a lot of posters, adds 2 new ones and implement unused posters
  baystation12.dme
  code/game/objects/effects/decals/contraband.dm
  code/game/objects/effects/decals/posters/bs12.dm
  code/game/objects/effects/decals/posters/ss13.dm
  code/game/objects/effects/decals/posters/tegu.dm
  icons/obj/contraband.dmi
Labels: 🔨1 Tweak
