Repository vlggms/tegustation-bay12, pull requests merged in 2021-08, with the labels that each got.

#74 modernizes some assorted code - mostly floodlights
  code/game/machinery/floodlight.dm
  code/modules/fabrication/fabricator_food.dm
  code/modules/power/cell.dm
  icons/obj/machines/floodlight.dmi
  test/check-paths.sh
Labels: Code improvement, Spellcheck

#75 Add confirmation alert for joining as a job with no preferences
  code/modules/mob/new_player/new_player.dm
Labels: Feature

#78 pvp changes
  code/game/objects/items/devices/flash.dm
  code/modules/mob/living/carbon/human/human_defense.dm
  code/modules/organs/external/_external_damage.dm
Labels: Balance, Tweak, Fix, Ported

#77 Adds AI whitelist
  code/controllers/configuration.dm
  code/game/jobs/job/job.dm
  code/modules/client/preference_setup/occupation/occupation.dm
  config/example/config.txt
  maps/torch/job/misc_jobs.dm
  maps/torch/job/torch_jobs.dm
Labels: Feature, Changes configs

#85 Adds Fleet Religious Headwear
  maps/torch/datums/uniforms_fleet.dm
  maps/torch/icons/mob/onmob_head_solgov.dmi
  maps/torch/icons/obj/obj_head_solgov.dmi
  maps/torch/items/clothing/solgov-head.dm
  maps/torch/loadout/loadout_head.dm
Labels: Feature

#91 Tegu.gif
  maps/torch/lobby/tegu.gif
  maps/torch/torch_lobby.dm
Labels: 📘1 Feature, Red Label

#88 raises player count for changeling
  code/game/gamemodes/changeling/changeling.dm
Labels: 🔨1 Tweak

#95 Fixes a bug causing walls to become non-deconstructable if you get interrupted midway through an attempt
  code/game/turfs/simulated/wall_attacks.dm
Labels: 🔧1 Fix

#84 species loadout adjustments + under layer for adherents
  code/modules/client/preference_setup/loadout/lists/xenowear.dm
  code/modules/client/preference_setup/loadout/loadout.dm
  code/modules/clothing/clothing.dm
  code/modules/clothing/under/accessories/accessory.dm
  code/modules/clothing/under/accessories/armband.dm
  code/modules/mob/living/carbon/human/examine.dm
  code/modules/species/species_hud.dm
  code/modules/species/station/adherent.dm
  code/modules/species/station/nabber.dm
  code/modules/species/station/prometheans.dm
  icons/mob/species/adherent/onmob_accessories_adherent.dmi
  icons/mob/species/adherent/onmob_under_adherent.dmi
Labels: ⚖1 Balance, 🔬1 Code improvement, 🔨1 Tweak, 📀3 Testmerged

#86 Doors go beep
  code/game/machinery/doors/airlock.dm
  sound/machines/deniedboop.ogg
Labels: 📘1 Feature, 🔨1 Tweak, 📀3 Testmerged

#89 fixes disposal chute construction always being south + does some general disposal pipe modernization
  baystation12.dme
  code/__defines/_planes+layers.dm
  code/datums/extensions/play_sound_on_moved.dm
  code/game/machinery/pipe/pipe_datums/disposal_pipe_datums.dm
  code/game/machinery/pipe/pipe_dispenser.dm
  code/game/objects/munition.dm
  code/game/objects/structures/ironing_board.dm
  code/modules/recycling/disposal-construction.dm
  code/modules/recycling/disposal.dm
  code/modules/recycling/disposalpipe.dm
  code/modules/recycling/sortingmachinery.dm
Labels: 📘1 Feature, 🔨1 Tweak, 🔧1 Fix, 💡0 Merge Ready

#100 Actually fix mentorhelps
  code/modules/admin/mentor_verbs.dm
Labels: Red Label, 🔧1 Fix, 🔥2 Speedmerge, 🏆9 Achievement earned

#97 "add reagents" button for view variables
  code/modules/admin/view_variables/helpers.dm
  code/modules/admin/view_variables/topic.dm
  test/check-paths.sh
Labels: 📘1 Feature

#102 Log admin ghosting
  code/modules/admin/admin_verbs.dm
Labels: 📘1 Feature

#106 QDel Hell
  code/game/jobs/whitelist.dm
  code/modules/admin/DB ban/functions.dm
  code/modules/admin/IsBanned.dm
  code/modules/admin/admin_ranks.dm
  code/modules/admin/banjob.dm
  code/modules/admin/permissionverbs/permissionedit.dm
  code/modules/client/client_procs.dm
  code/modules/modular_computers/file_system/programs/generic/library.dm
Labels: Red Label, 🔧1 Fix, 🔥2 Speedmerge
