Repository vlggms/tegustation-bay12, pull requests merged in 2021-07, with the labels that each got.

#29 Add config for sleep_offline
  code/controllers/configuration.dm
  code/controllers/master.dm
  config/example/config.txt
Labels: Feature

#60 Gas hat fixed
  code/modules/clothing/clothing.dm
  code/modules/clothing/head/soft_caps.dm
Labels: Fix, Revert

#50 Safety moth
  code/game/objects/effects/decals/posters/bs12.dm
  icons/obj/contraband.dmi
Labels: Feature

#54 Minor cooking update: adds electric stove for recipes, repurposes microwave for bulk-cooking
  baystation12.dme
  code/controllers/subsystems/initialization/cuisine.dm
  code/datums/trading/food.dm
  code/datums/trading/misc.dm
  code/game/machinery/kitchen/cookers.dm
  code/game/machinery/kitchen/microwave.dm
  code/game/machinery/kitchen/stove.dm
  code/game/machinery/vending.dm
  code/game/objects/items.dm
  code/game/objects/items/weapons/circuitboards/machinery/household.dm
  code/game/objects/items/weapons/trays.dm
  code/modules/codex/categories/category_recipes.dm
  code/modules/codex/entries/kitchen.dm
  code/modules/codex/entries/tools.dm
  code/modules/food/recipes_stove.dm
  code/modules/mob/skills/skill.dm
  code/modules/reagents/reagent_containers/food.dm
  code/modules/reagents/reagent_containers/food/snacks.dm
  code/modules/reagents/reagent_containers/food/snacks/animal_cubes.dm
  code/modules/reagents/reagent_containers/food/snacks/baked.dm
  code/modules/reagents/reagent_containers/food/snacks/burgers_and_sandwiches.dm
  code/modules/reagents/reagent_containers/food/snacks/canned.dm
  code/modules/reagents/reagent_containers/food/snacks/ingredients.dm
  code/modules/reagents/reagent_containers/food/snacks/junk_food.dm
  code/modules/reagents/reagent_containers/food/snacks/meat.dm
  code/modules/reagents/reagent_containers/food/snacks/salads.dm
  code/modules/reagents/reagent_containers/food/snacks/soups.dm
  code/modules/reagents/reagent_containers/food/snacks/spaghetti.dm
  code/modules/reagents/reagent_containers/food/snacks/sweets.dm
  code/modules/research/designs/designs_circuits.dm
  icons/obj/food.dmi
  icons/obj/kitchen.dmi
  maps/antag_spawn/ert/ert_base.dmm
  maps/antag_spawn/heist/heist_base.dmm
  maps/away/bearcat/bearcat-2.dmm
  maps/away/casino/casino.dmm
  maps/away/derelict/derelict-station.dmm
  maps/away/errant_pisces/errant_pisces.dmm
  maps/away/rawl/rawl.dmm
  maps/away/scavver/scavver_gantry-2.dmm
  maps/away/verne/verne-3.dmm
  maps/away/yacht/yacht.dmm
  maps/random_ruins/exoplanet_ruins/playablecolony/colony.dmm
  maps/random_ruins/exoplanet_ruins/playablecolony2/colony2.dmm
  maps/torch/torch3_deck3.dmm
  sound/machines/stove_on.ogg
Labels: Feature, Merge Ready, Testmerged, Tweak

#62 Actually readds Fleet jackets and polos
  maps/torch/datums/uniforms_fleet.dm
Labels: Merge Ready, Tweak

#64 Fixes runtime spam caused by animals with no natural weapon
  code/modules/mob/living/simple_animal/combat.dm
Labels: Fix, Merge Ready

#53 Changeling code refactor + accommodating balance adjustments
  baystation12.dme
  code/__defines/mobs.dm
  code/_helpers/global_access.dm
  code/_onclick/hud/ability_screen_objects.dm
  code/datums/mind/mind.dm
  code/datums/powers.dm
  code/game/antagonist/antagonist.dm
  code/game/antagonist/antagonist_create.dm
  code/game/antagonist/station/changeling.dm
  code/game/gamemodes/changeling/changeling_datum.dm
  code/game/gamemodes/changeling/changeling_helpers.dm
  code/game/gamemodes/changeling/changeling_powers.dm
  code/game/gamemodes/changeling/modularchangling.dm
  code/modules/codex/entries/antagonists.dm
  code/modules/emotes/emote_mob.dm
  code/modules/mob/living/carbon/human/examine.dm
  code/modules/mob/living/carbon/human/human.dm
  code/modules/mob/living/carbon/human/life.dm
  code/modules/mob/living/carbon/human/npcs.dm
  code/modules/mob/living/carbon/human/say.dm
  code/modules/mob/transform_procs.dm
  icons/mob/screen_spells.dmi
  icons/obj/action_buttons/actions.dmi
  test/check-paths.sh
  test/run-test.sh
Labels: Balance, Feature, Tweak

#65 You can now wipe off forehead graffiti with paper
  code/modules/paperwork/paper.dm
Labels: Tweak

#67 Diona clothes Mk.2
  code/modules/clothing/glasses/blindfolds.dm
  code/modules/clothing/glasses/glasses.dm
  code/modules/clothing/glasses/hud.dm
  code/modules/clothing/glasses/sunglasses.dm
  code/modules/clothing/glasses/thermals.dm
  code/modules/clothing/head/hardhat.dm
  code/modules/species/species_hud.dm
Labels: Feature, Tweak

#58 Adds sprite shifting
  code/modules/mob/living/living.dm
  code/modules/mob/mob.dm
  code/modules/mob/mob_defines.dm
  interface/skin.dmf
Labels: Feature, Merge Ready

#68 Snake implementation
  code/datums/supplypacks/livecargo.dm
  code/game/objects/structures/crates_lockers/largecrate.dm
  code/modules/events/infestation.dm
Labels: Feature, Merge Ready

#69 Toxin rework
  code/game/objects/effects/chem/chemsmoke.dm
  code/modules/reagents/Chemistry-Reagents/Chemistry-Reagents-Dispenser.dm
  code/modules/reagents/Chemistry-Reagents/Chemistry-Reagents-Toxins.dm
Labels: Balance, Merge Ready, Ported, Tweak

#70 Biomods for more subspecies
  code/modules/sprite_accessories/accessory_booster.dm
Labels: Merge Ready, Tweak

#71 Make URL in roundstart webhook clickable
  code/modules/webhooks/webhook_roundstart.dm
Labels: Fix, Merge Ready

#72 Fix mentor PM bug
  code/modules/admin/admin_verbs.dm
  code/modules/admin/mentor_verbs.dm
Labels: Fix, Speedmerge
