Repository vlggms/tegustation-bay12, pull requests merged in 2021-10, with the labels that each got.

#108 Makes CI point out location of indentation errors
  tools/indentation.awk
Labels: 🔬1 Code improvement

#122 Fountain of youth no longer makes you underage
  code/game/objects/structures/fountain.dm
Labels: 🔨1 Tweak

#121 Bluespace ghost no longer kills you
  code/game/gamemodes/endgame/bluespace_jump/bluespace_jump.dm
Labels: 🔨1 Tweak

#107 Reagent standardization pt. 2: Toxins
  baystation12.dme
  code/controllers/subsystems/plants.dm
  code/game/machinery/Sleeper.dm
  code/game/objects/items/contraband.dm
  code/game/objects/items/devices/flashlight.dm
  code/game/objects/items/toys.dm
  code/game/objects/items/weapons/grenades/chem_grenade.dm
  code/game/objects/items/weapons/implants/implants/imprinting.dm
  code/modules/ascent/ascent_machines.dm
  code/modules/ascent/ascent_rigs.dm
  code/modules/clothing/rings/rings.dm
  code/modules/food/recipes_stove.dm
  code/modules/hydroponics/grown.dm
  code/modules/hydroponics/seed.dm
  code/modules/hydroponics/seed_datums.dm
  code/modules/hydroponics/spreading/spreading_growth.dm
  code/modules/hydroponics/trays/tray.dm
  code/modules/mob/living/carbon/xenobiological/items.dm
  code/modules/mob/living/carbon/xenobiological/xenobiological.dm
  code/modules/mob/living/silicon/robot/flying/module_flying_emergency.dm
  code/modules/mob/living/silicon/robot/modules/module_clerical.dm
  code/modules/mob/living/silicon/robot/modules/module_medical.dm
  code/modules/psionics/null/chemistry.dm
  code/modules/reagents/Chemistry-Reagents/Chemistry-Reagents-Dispenser.dm
  code/modules/reagents/Chemistry-Reagents/Chemistry-Reagents-Toxins.dm
  code/modules/reagents/Chemistry-Reagents/Random/Chemistry-Reagents-Random.dm
  code/modules/reagents/Chemistry-Reagents/medicines/_medicines_base.dm
  code/modules/reagents/Chemistry-Reagents/medicines/medicines_core.dm
  code/modules/reagents/Chemistry-Reagents/medicines/medicines_stimulants.dm
  code/modules/reagents/Chemistry-Reagents/toxins/_toxins_base.dm
  code/modules/reagents/Chemistry-Reagents/toxins/toxins_acids.dm
  code/modules/reagents/Chemistry-Reagents/toxins/toxins_botany.dm
  code/modules/reagents/Chemistry-Reagents/toxins/toxins_drugs.dm
  code/modules/reagents/Chemistry-Reagents/toxins/toxins_misc.dm
  code/modules/reagents/Chemistry-Reagents/toxins/toxins_mutagens.dm
  code/modules/reagents/Chemistry-Reagents/toxins/toxins_narcotics.dm
  code/modules/reagents/Chemistry-Reagents/toxins/toxins_poisons.dm
  code/modules/reagents/Chemistry-Reagents/toxins/toxins_sedatives.dm
  code/modules/reagents/Chemistry-Recipes.dm
  code/modules/reagents/dispenser/cartridge_presets.dm
  code/modules/reagents/reagent_containers/food/snacks.dm
  code/modules/reagents/reagent_containers/food/snacks/baked.dm
  code/modules/reagents/reagent_containers/food/snacks/burgers_and_sandwiches.dm
  code/modules/reagents/reagent_containers/food/snacks/meat.dm
  code/modules/reagents/reagent_containers/food/snacks/soups.dm
  code/modules/reagents/reagent_containers/glass.dm
  code/modules/reagents/reagent_containers/glass/bottle.dm
  code/modules/reagents/reagent_containers/hypospray.dm
  code/modules/reagents/reagent_containers/spray.dm
  code/modules/reagents/reagent_containers/syringes.dm
  code/modules/reagents/reagent_dispenser.dm
  code/modules/research/designs/designs_circuits.dm
  code/modules/research/designs/designs_modular_computer.dm
  code/modules/research/designs/designs_weapon.dm
  code/modules/xenoarcheaology/triggers/chemical.dm
  maps/away/skrellscoutship/skrellscoutship.dm
Labels: 🔬1 Code improvement, 🔨1 Tweak

#155 True autofire
  code/_onclick/MouseDrag.dm
  code/modules/client/client_procs.dm
  code/modules/projectiles/gun.dm
  code/modules/projectiles/guns/projectile/automatic.dm
Labels: 📘1 Feature, 💿3 Test Merge Candidate, 📀3 Testmerged, 🚢2 Ported

#163 Changes some gun sounds, adds admin-only bullets type
  code/modules/mob/living/simple_animal/hostile/syndicate.dm
  code/modules/projectiles/ammunition/boxes.dm
  code/modules/projectiles/ammunition/bullets.dm
  code/modules/projectiles/guns/projectile/automatic.dm
  code/modules/projectiles/projectile/bullets.dm
  sound/weapons/gunshot/revolver.ogg
  sound/weapons/gunshot/shotgun.ogg
  sound/weapons/gunshot/smg.ogg
  sound/weapons/gunshot/smg_alt.ogg
  sound/weapons/gunshot/smg_strong.ogg
  sound/weapons/gunshot/sniper.ogg
Labels: 🔨1 Tweak

#157 Quick-equip now works for backpacks/storage items.
  code/modules/mob/inventory.dm
  code/modules/mob/living/carbon/human/inventory.dm
Labels: 🔨1 Tweak
