Repository vlggms/tegustation-bay12, pull requests merged in 2021-11, with the labels that each got.

#173 Steppy poster, Atlas and Steppy in actual locations
  code/game/objects/effects/decals/contraband.dm
  code/game/objects/effects/decals/posters/bs12.dm
  icons/obj/contraband.dmi
  maps/torch/torch2_deck4.dmm
  maps/torch/torch6_bridge.dmm
Labels: 🔧1 Fix

#174 Abandoned church ruin
  baystation12.dme
  maps/random_ruins/exoplanet_ruins/abandoned_church/abandoned_church.dm
  maps/random_ruins/exoplanet_ruins/abandoned_church/abandoned_church.dmm
Labels: 📘1 Feature, 🍁1 Map

#171 Lowpop access levels
  code/controllers/configuration.dm
  code/game/jobs/job/job.dm
  config/example/config.txt
  maps/torch/job/command_jobs.dm
  maps/torch/job/security_jobs.dm
Labels: 📘1 Feature, 📃2 Changes configs

#166 Update supermatter icons
  code/game/gamemodes/meteor/meteors.dm
  code/modules/supermatter/supermatter.dm
  icons/obj/engine.dmi
  icons/obj/supermatter.dmi
  maps/away/verne/verne.dm
Labels: 🔨1 Tweak, 🚢2 Ported

#169 Adds ashriek and 2 new vox plants
  baystation12.dme
  code/__defines/materials.dm
  code/modules/emotes/definitions/_species.dm
  code/modules/emotes/definitions/audible.dm
  code/modules/emotes/definitions/vox.dm
  code/modules/hydroponics/grown.dm
  code/modules/hydroponics/seed_datums.dm
  code/modules/hydroponics/seed_packets.dm
  code/modules/materials/definitions/materials_wood.dm
  code/modules/materials/material_sheets.dm
  code/modules/reagents/Chemistry-Reagents/Chemistry-Reagents-Other.dm
  code/modules/species/outsider/vox.dm
  icons/mob/species/vox/onmob_head_vox_armalis.dmi
  icons/mob/species/vox/onmob_under_vox_armalis.dmi
  icons/obj/hydroponics_growing.dmi
  icons/obj/hydroponics_products.dmi
  icons/obj/materials.dmi
  icons/obj/seeds.dmi
  maps/away/voxship/voxship-2.dmm
  sound/voice/ashriek.ogg
Labels: 📘1 Feature, 🚢2 Ported

#153 Fixes wiki manual books.
  maps/torch/items/manuals.dm
Labels: 🔧1 Fix

#168 Adds fancy-looking camouflage jumpsuit
  code/modules/clothing/under/syndicate.dm
  icons/mob/onmob/onmob_under.dmi
  icons/obj/clothing/obj_under.dmi
Labels: 🔨1 Tweak

#177 Fixes mech firing ranged weapons
  code/modules/projectiles/projectile.dm
Labels: 🔧1 Fix

#167 Mercenary suits resprite
  code/game/machinery/suit_cycler_units.dm
  code/modules/clothing/spacesuits/alien.dm
  code/modules/clothing/spacesuits/rig/suits/merc.dm
  code/modules/clothing/spacesuits/rig/suits/station.dm
  code/modules/clothing/spacesuits/void/merc.dm
  icons/mob/onmob/onmob_feet.dmi
  icons/mob/onmob/onmob_hands.dmi
  icons/mob/onmob/onmob_head.dmi
  icons/mob/onmob/onmob_rig_back.dmi
  icons/mob/onmob/onmob_suit.dmi
  icons/mob/species/skrell/onmob_head_skrell.dmi
  icons/mob/species/skrell/onmob_suit_skrell.dmi
  icons/mob/species/unathi/generated/onmob_feet_unathi.dmi
  icons/mob/species/unathi/generated/onmob_hands_unathi.dmi
  icons/mob/species/unathi/generated/onmob_head_unathi.dmi
  icons/mob/species/unathi/generated/onmob_rig_back_unathi.dmi
  icons/mob/species/unathi/generated/onmob_suit_unathi.dmi
  icons/mob/species/unathi/onmob_head_helmet_unathi.dmi
  icons/mob/species/unathi/onmob_suit_unathi.dmi
  icons/mob/species/vox/onmob_feet_vox.dmi
  icons/mob/species/vox/onmob_hands_vox.dmi
  icons/mob/species/vox/onmob_head_vox.dmi
  icons/mob/species/vox/onmob_suit_vox.dmi
  icons/obj/clothing/obj_feet.dmi
  icons/obj/clothing/obj_hands.dmi
  icons/obj/clothing/obj_head.dmi
  icons/obj/clothing/obj_suit.dmi
  icons/obj/clothing/species/skrell/obj_head_skrell.dmi
  icons/obj/clothing/species/skrell/obj_suit_skrell.dmi
  icons/obj/clothing/species/unathi/obj_head_unathi.dmi
  icons/obj/clothing/species/unathi/obj_suit_unathi.dmi
  icons/obj/clothing/species/vox/obj_head_vox.dmi
  icons/obj/clothing/species/vox/obj_suit_vox.dmi
  icons/obj/rig_modules.dmi
Labels: 📘1 Feature, 🔨1 Tweak, 🔧1 Fix, 🚢2 Ported

#176 Fixes temperature gun
  code/modules/projectiles/guns/energy/temperature.dm
  code/modules/projectiles/projectile/special.dm
  icons/obj/projectiles.dmi
Labels: 🔨1 Tweak, 🔧1 Fix

#178 Adds straight identity pins and renames all pride pins
  baystation12.dme
  code/datums/supplypacks/nonessent.dm
  code/modules/client/preference_setup/loadout/lists/accessories.dm
  code/modules/clothing/under/accessories/identitypins.dm
  code/modules/clothing/under/accessories/pridepins.dm
  icons/mob/onmob/onmob_accessories.dmi
  icons/obj/clothing/obj_accessories.dmi
Labels: 🔨1 Tweak, 🚢2 Ported

#180 All nanoui templates are sent in one file
  code/_helpers/global_access.dm
  code/modules/client/asset_cache.dm
  code/modules/nano/nanoui.dm
  nano/js/nano_template.js
  test/run-test.sh
Labels: 🔬1 Code improvement, 🚢2 Ported

#182 Revert "All nanoui templates are sent in one file"
  code/_helpers/global_access.dm
  code/modules/client/asset_cache.dm
  code/modules/nano/nanoui.dm
  nano/js/nano_template.js
  test/run-test.sh
Labels: 💫2 Revert, 🔥2 Speedmerge

#183 Flashlight resprite
  icons/obj/lighting.dmi
Labels: 🔨1 Tweak

#146 Extends running into things when confused
  code/game/atoms.dm
  code/game/objects/structures/mineral_bath.dm
  code/game/objects/structures/railing.dm
  code/modules/mob/living/living.dm
  code/modules/recycling/disposal.dm
Labels: 🔨1 Tweak, 🚢2 Ported

#188 Fixes TGS check and status commands
  code/modules/discord/tgs_commands.dm
Labels: 🔧1 Fix

#185 Psionic fixes #1
  code/modules/psionics/complexus/complexus_helpers.dm
  code/modules/psionics/faculties/energistics.dm
Labels: 🔨1 Tweak, 🔧1 Fix

#187 Adds assault laser rifle
  code/modules/projectiles/guns/energy/laser.dm
  icons/mob/onmob/items/lefthand_guns.dmi
  icons/mob/onmob/items/righthand_guns.dmi
Labels: 📘1 Feature

#159 SSInput
  baystation12.dme
  code/__defines/admin.dm
  code/__defines/colors.dm
  code/__defines/misc.dm
  code/__defines/subsystem-priority.dm
  code/__defines/subsystems.dm
  code/_global_vars/client.dm
  code/_helpers/global_access.dm
  code/_helpers/global_lists.dm
  code/_helpers/sanitize_values.dm
  code/_onclick/click.dm
  code/controllers/configuration.dm
  code/controllers/subsystems/input.dm
  code/datums/movement/mob.dm
  code/datums/movement/movement.dm
  code/game/atoms_movable.dm
  code/game/verbs/ooc.dm
  code/modules/admin/callproc/callproc.dm
  code/modules/admin/spam_prevention.dm
  code/modules/client/client_defines.dm
  code/modules/client/client_procs.dm
  code/modules/client/preference_setup/controls/01_keybinds.dm
  code/modules/client/preference_setup/preference_setup.dm
  code/modules/client/preferences.dm
  code/modules/keybindings/_defines.dm
  code/modules/keybindings/_keybindings.dm
  code/modules/keybindings/admin.dm
  code/modules/keybindings/bindings_atom.dm
  code/modules/keybindings/bindings_client.dm
  code/modules/keybindings/carbon.dm
  code/modules/keybindings/client.dm
  code/modules/keybindings/communication.dm
  code/modules/keybindings/human.dm
  code/modules/keybindings/living.dm
  code/modules/keybindings/mob.dm
  code/modules/keybindings/movement.dm
  code/modules/keybindings/robot.dm
  code/modules/keybindings/setup.dm
  code/modules/mob/living/silicon/robot/login.dm
  code/modules/mob/login.dm
  code/modules/mob/mob.dm
  code/modules/mob/mob_defines.dm
  code/modules/mob/mob_helpers.dm
  code/modules/mob/mob_movement.dm
  code/modules/mob/observer/ghost/ghost.dm
  code/modules/mob/typing_indicator.dm
  code/modules/organs/external/_external.dm
  code/modules/pointdefense/pointdefense.dm
  config/example/game_options.txt
  icons/effects/mouse_pointers/examine_pointer.dmi
  interface/interface.dm
  interface/skin.dmf
  test/run-test.sh
Labels: 📘1 Feature, Red Label, 💿3 Test Merge Candidate, 📀3 Testmerged, 🚢2 Ported, 📃2 Changes configs

#179 Replaces most mentions of GCC with TerraGov
  code/__defines/culture.dm
  code/game/objects/items/passport.dm
  code/modules/culture_descriptor/culture/cultures_human.dm
  code/modules/culture_descriptor/faction/factions_human.dm
  code/modules/culture_descriptor/location/locations_human.dm
  code/modules/species/station/machine.dm
  code/modules/species/station/station.dm
  icons/obj/passport.dmi
  maps/away/mininghome/mininghome.dm
  maps/torch/items/clothing/terran-accessory.dm
  maps/torch/items/clothing/terran-feet.dm
  maps/torch/items/clothing/terran-hands.dm
  maps/torch/items/clothing/terran-head.dm
  maps/torch/items/clothing/terran-suit.dm
  maps/torch/items/clothing/terran-under.dm
  maps/torch/job/outfits/unused_outfits.dm
  maps/torch/torch_ranks.dm
  maps/~mapsystem/maps.dm
Labels: 🔨1 Tweak, 🌳1 Lore

#186 Telekinesis buff + mini fix
  code/modules/psionics/equipment/psipower_tk.dm
  code/modules/psionics/faculties/psychokinesis.dm
  code/modules/psionics/mob/mob_assay.dm
Labels: ⚖1 Balance, 🔬1 Code improvement, 🔨1 Tweak, 🔧1 Fix

#190 Cybersun voidsuit
  code/modules/clothing/spacesuits/void/misc.dm
  icons/mob/onmob/onmob_head.dmi
  icons/mob/onmob/onmob_suit.dmi
  icons/obj/clothing/obj_head.dmi
  icons/obj/clothing/obj_suit.dmi
Labels: 📘1 Feature

#191 Fixes memos
  maps/torch/items/memos.dm
Labels: 🔧1 Fix

#193 Artifact container tweaks
  code/modules/xenoarcheaology/anomaly_container.dm
Labels: 🔨1 Tweak

#194 Roundstart webhook is being called earlier
  code/controllers/subsystems/ticker.dm
Labels: 🔨1 Tweak

#197 Fix roundstart webhook
  code/controllers/master.dm
  code/controllers/subsystems/ticker.dm
Labels: 🔧1 Fix, 🔥2 Speedmerge

#199 Glide_size is updated on bed/chair movement.
  code/game/objects/structures/stool_bed_chair_nest/bed.dm
Labels: 🔨1 Tweak

#101 Re-add the AI core
  maps/torch/torch4_deck2.dmm
  maps/torch/torch6_bridge.dmm
  maps/torch/torch_areas.dm
Labels: 💿3 Test Merge Candidate, 🍁1 Map, 📀3 Testmerged

#192 Blobs can now attack more objects and play an animation and sound each time they do
  code/__defines/turfs.dm
  code/game/turfs/space/space.dm
  code/game/turfs/unsimulated.dm
  code/game/turfs/unsimulated/beach.dm
  code/modules/blob/blob.dm
  code/modules/mining/mine_turfs.dm
  code/modules/overmap/exoplanets/planet_types/volcanic.dm
Labels: 🔬1 Code improvement, 🔨1 Tweak

#189 Clogging edits
  code/_macros.dm
  code/game/objects/structures/watercloset.dm
Labels: 🔨1 Tweak, 🔧1 Fix

#202 Fix medical HCM injecting over distances
  code/modules/clothing/spacesuits/rig/modules/utility.dm
Labels: 🔨1 Tweak, 🔧1 Fix

#203 Removes additional carp stun
  code/modules/mob/living/simple_animal/hostile/carp.dm
Labels: 🔨1 Tweak, 🚢2 Ported

#206 New unathi sprites, credit to Pawn
  code/modules/sprite_accessories/accessory_unathi.dm
  icons/mob/human_races/species/unathi/body.dmi
  icons/mob/human_races/species/unathi/hair.dmi
  icons/mob/human_races/species/unathi/preview.dmi
  icons/mob/species/unathi/unathi_tail.dmi
Labels: 🔨1 Tweak, 🚢2 Ported

#201 Latejoin edits/fixes
  code/game/jobs/job/job.dm
  code/modules/client/preference_setup/occupation/occupation.dm
  code/modules/mob/new_player/new_player.dm
Labels: 🔨1 Tweak, 🔧1 Fix, 📀3 Testmerged
