Repository vlggms/tegustation-bay12, pull requests merged in 2021-06, with the labels that each got.

#1 Updates README.md to the same of original repository
  .github/PULL_REQUEST_TEMPLATE.md
  .github/assets/discord.png
  .github/assets/tegustation.png
  README.md
Labels: Github

#3 Update PULL_REQUEST_TEMPLATE.md properly
  .github/PULL_REQUEST_TEMPLATE.md
Labels: Github

#4 Add shirley temple the intended way
  code/modules/reagents/Chemistry-Reagents/Chemistry-Reagents-Drinks.dm
Labels: Feature

#6 Adds TGS
  baystation12.dme
  code/__defines/tgs.config.dm
  code/__defines/tgs.dm
  code/datums/tgs_event_handler.dm
  code/game/world.dm
  code/modules/tgs/LICENSE
  code/modules/tgs/README.md
  code/modules/tgs/core/README.md
  code/modules/tgs/core/_definitions.dm
  code/modules/tgs/core/core.dm
  code/modules/tgs/core/datum.dm
  code/modules/tgs/core/tgs_version.dm
  code/modules/tgs/includes.dm
  code/modules/tgs/v3210/README.md
  code/modules/tgs/v3210/api.dm
  code/modules/tgs/v3210/commands.dm
  code/modules/tgs/v4/README.md
  code/modules/tgs/v4/api.dm
  code/modules/tgs/v4/commands.dm
  code/modules/tgs/v5/README.md
  code/modules/tgs/v5/_defines.dm
  code/modules/tgs/v5/api.dm
  code/modules/tgs/v5/commands.dm
  code/modules/tgs/v5/interop_version.dm
  code/modules/tgs/v5/undefs.dm
Labels: Feature, Red Label

#10 Prevent certain mob types from being buckled
  code/game/objects/buckling.dm
  code/modules/mechs/mech.dm
  code/modules/mob/living/carbon/xenobiological/xenobiological.dm
  code/modules/mob/living/living_defines.dm
Labels: Fix, Ported

#15 Sqlshit
  code/modules/admin/admin_ranks.dm
  code/modules/admin/permissionverbs/permissionedit.dm
  sql/migrate/V001__Initial_schema.sql
Labels: Code improvement, Fix, Red Label

#9 Reverts the medbay changes between Tegu and mainstream Bay
  maps/torch/torch5_deck1.dmm
Labels: Map, Revert, Testmerged

#12 Adds more species rank/branch roles
  maps/torch/job/torch_jobs.dm
  maps/torch/torch_ranks.dm
Labels: Broken, Changes requested, Feature

#17 Ports several fixes from Bay
  code/game/gamemodes/endgame/bluespace_jump/bluespace_jump.dm
  code/game/machinery/doors/airlock.dm
  code/game/machinery/doors/door.dm
  code/modules/ai/say_list.dm
  code/modules/client/preferences.dm
  code/modules/mob/living/silicon/robot/modules/module_clerical.dm
  code/modules/organs/internal/brain.dm
  code/modules/organs/internal/stomach.dm
  code/modules/reagents/reagent_containers/syringes.dm
  code/modules/shield_generators/shield.dm
  code/modules/surgery/surgery.dm
  icons/obj/surgery.dmi
  maps/antag_spawn/heist/heist_base.dmm
  maps/torch/datums/uniforms_fleet.dm
Labels: Fix, Ported

#23 Change link in issue template from BS12 to Tegu
  .github/ISSUE_TEMPLATE/bug-report.md
Labels: Github

#7 adds the rawl properly probably
  code/__defines/colors.dm
  code/game/objects/items/weapons/melee/energy.dm
  code/modules/clothing/spacesuits/void/misc.dm
  code/modules/clothing/under/accessories/holster.dm
  icons/mob/onmob/items/lefthand.dmi
  icons/mob/onmob/items/righthand.dmi
  icons/mob/species/unathi/onmob_head_helmet_unathi.dmi
  icons/mob/species/unathi/onmob_suit_unathi.dmi
  icons/obj/clothing/obj_head.dmi
  icons/obj/clothing/obj_suit.dmi
  icons/obj/weapons/melee_energy.dmi
  maps/away/rawl/rawl.dm
  maps/away/rawl/rawl.dmm
  maps/away/rawl/rawl_areas.dm
  maps/away/rawl/rawl_jobs.dm
  maps/away/rawl/rawl_shuttles.dm
  maps/away/rawl/rawl_sprites.dmi
  maps/torch/torch.dm
  maps/torch/torch2_deck4.dmm
  maps/torch/torch_overmap.dm
  maps/torch/z2_transit.dmm
Labels: Feature, Map, Testmerged

#13 Updates the changelog header, tegu-ifies some bay references
  code/game/world.dm
  code/hub.dm
  html/templates/header.html
Labels: Feature, Github

#8 Add Sheep to Cargo & more!
  code/datums/supplypacks/livecargo.dm
  code/game/objects/structures/crates_lockers/largecrate.dm
  code/modules/mob/living/simple_animal/friendly/farm_animals.dm
  code/modules/reagents/Chemistry-Reagents/Chemistry-Reagents-Drinks.dm
  icons/mob/simple_animal/animal.dmi
Labels: Changes requested, Feature

#21 Added AGPL notification requirements
  README.md
Labels: Fix, Github

#26 Replaces BayStation lobby and game window icons
  icons/default_lobby.png
  icons/ss13_32.png
  icons/ss13_64.png
Labels: Tweak

#27 Adds Steppy the alligator and Atlas the tegu.
  baystation12.dme
  code/modules/ai/aI_holder_subtypes/simple_mob_ai.dm
  code/modules/mob/living/simple_animal/hostile/retaliate/alligator.dm
  code/modules/mob/living/simple_animal/hostile/retaliate/tegu.dm
  code/modules/mob/living/simple_animal/natural_weapons.dm
  icons/mob/simple_animal/animal.dmi
Labels: Feature

#28 Adds new new voidsuit/hardsuit sprites from pawn/azlan
  code/modules/clothing/spacesuits/rig/suits/station.dm
  code/modules/clothing/spacesuits/void/station.dm
  icons/mob/light_overlays.dmi
  icons/mob/onmob/onmob_feet.dmi
  icons/mob/onmob/onmob_hands.dmi
  icons/mob/onmob/onmob_head.dmi
  icons/mob/onmob/onmob_rig_back.dmi
  icons/mob/onmob/onmob_suit.dmi
  icons/mob/species/skrell/onmob_head_skrell.dmi
  icons/mob/species/skrell/onmob_suit_skrell.dmi
  icons/mob/species/unathi/generated/onmob_feet_unathi.dmi
  icons/mob/species/unathi/generated/onmob_hands_unathi.dmi
  icons/mob/species/unathi/generated/onmob_head_unathi.dmi
  icons/mob/species/unathi/generated/onmob_rig_back_unathi.dmi
  icons/mob/species/unathi/generated/onmob_suit_unathi.dmi
  icons/mob/species/unathi/onmob_head_helmet_unathi.dmi
  icons/mob/species/unathi/onmob_suit_unathi.dmi
  icons/obj/clothing/obj_feet.dmi
  icons/obj/clothing/obj_hands.dmi
  icons/obj/clothing/obj_head.dmi
  icons/obj/clothing/obj_suit.dmi
  icons/obj/clothing/species/skrell/obj_head_skrell.dmi
  icons/obj/clothing/species/skrell/obj_suit_skrell.dmi
  icons/obj/clothing/species/unathi/obj_head_unathi.dmi
  icons/obj/clothing/species/unathi/obj_suit_unathi.dmi
  icons/obj/light_overlays.dmi
  icons/obj/rig_modules.dmi
  maps/torch/icons/mob/onmob_feet_solgov.dmi
  maps/torch/icons/mob/onmob_hands_solgov.dmi
  maps/torch/icons/mob/onmob_head_solgov.dmi
  maps/torch/icons/mob/onmob_suit_solgov.dmi
  maps/torch/icons/mob/skrell/onmob_head_solgov_skrell.dmi
  maps/torch/icons/mob/skrell/onmob_suit_solgov_skrell.dmi
  maps/torch/icons/mob/unathi/onmob_head_solgov_unathi.dmi
  maps/torch/icons/mob/unathi/onmob_suit_solgov_unathi.dmi
  maps/torch/icons/obj/obj_feet_solgov.dmi
  maps/torch/icons/obj/obj_hands_solgov.dmi
  maps/torch/icons/obj/obj_head_solgov.dmi
  maps/torch/icons/obj/obj_suit_solgov.dmi
  maps/torch/icons/obj/skrell/obj_head_solgov_skrell.dmi
  maps/torch/icons/obj/skrell/obj_suit_solgov_skrell.dmi
  maps/torch/icons/obj/unathi/obj_head_solgov_unathi.dmi
  maps/torch/icons/obj/unathi/obj_suit_solgov_unathi.dmi
  maps/torch/icons/obj/uniques.dmi
  maps/torch/items/clothing/solgov-head.dm
  maps/torch/items/clothing/solgov-suit.dm
  maps/torch/items/rigs.dm
Labels: Feature, Fix, Ported

#31 Fixes cycled explo suits being invisible.
  code/datums/item_modifiers/space_suits.dm
  maps/torch/items/clothing/solgov-head.dm
Labels: Fix

#32 Status Command Attempt
  baystation12.dme
  code/modules/discord/tgs_commands.dm
Labels: Feature

#33 Fixes primary key assignment
  sql/migrate/V001__Initial_schema.sql
Labels: Fix

#35 VSCode stuff
  .gitignore
  .vscode/settings.json
Labels: Fix, Github

#34 Adds command voidsuit cycler
  code/datums/item_modifiers/space_suits.dm
  maps/torch/items/machinery.dm
  maps/torch/torch6_bridge.dmm
Labels: Feature, Map

#30 Re-Enables the Ascent Caulship
  maps/torch/torch.dm
Labels: Feature, Map, Revert

#38 Fixes the status message
  code/modules/discord/tgs_commands.dm
Labels: Fix

#24 Minor charge pylon tweaks, renames adherent cell
  code/game/objects/structures/charge_pylon.dm
  code/modules/organs/internal/species/adherent.dm
  code/modules/power/cell.dm
Labels: Changes requested, Fix, Tweak

#39 new UI for modular cookers (griddle, oven, etc)
  code/game/machinery/kitchen/cookers.dm
Labels: Feature, Fix

#42 corgi hat hat + Lisa!
  code/modules/mob/living/simple_animal/friendly/corgi.dm
  icons/mob/onmob/onmob_head.dmi
Labels: Fix

#44 Gas wear hat
  code/modules/clothing/head/soft_caps.dm
  icons/mob/species/nabber/onmob_head_gas.dmi
Labels: Feature, Ported, Species Maintainer required

#45 Gas capital
  code/__defines/mobs.dm
Labels: Species Maintainer required, Tweak

#46 Admin restart button
  code/controllers/subsystems/ticker.dm
  code/modules/admin/admin.dm
  code/modules/admin/admin_verbs.dm
Labels: Feature, Ported

#47 gas canister refactor + modernization
  code/game/machinery/_machines_base/machinery.dm
  code/game/machinery/atmoalter/canister.dm
  code/modules/codex/entries/atmospherics.dm
  code/modules/materials/recipes_furniture.dm
  test/check-paths.sh
Labels: Feature, Fix, Tweak

#49 Snek pr
  baystation12.dme
  code/modules/mob/living/simple_animal/friendly/snek.dm
  icons/mob/simple_animal/animal.dmi
Labels: Feature

#51 Wristwatches
  baystation12.dme
  code/modules/client/preference_setup/loadout/lists/accessories.dm
  code/modules/clothing/under/accessories/wristwatches.dm
  icons/mob/onmob/onmob_accessories.dmi
  icons/obj/clothing/obj_accessories.dmi
Labels: Feature

#40 Small update to borers
  code/game/antagonist/alien/borer.dm
  code/modules/mob/living/simple_animal/borer/borer.dm
Labels: Balance, Feature, Response requested, Testmerged, Tweak

#55 Fixes wrong forum link on the hub
  code/game/world.dm
Labels: Fix

#57 Changes hub description.
  code/game/world.dm
Labels: Tweak
