Repository vlggms/tegustation-bay12, pull requests merged in 2022-01, with the labels that each got.

#259 Fixes R&D destructive analyzer access
  code/modules/research/rdconsole.dm
Labels: 🔧1 Fix, 🔥2 Speedmerge

#215 Station(Ship) Traits
  baystation12.dme
  code/__defines/station.dm
  code/__defines/subsystems.dm
  code/_helpers/game.dm
  code/_helpers/global_access.dm
  code/controllers/subsystems/processing/station.dm
  code/controllers/subsystems/ticker.dm
  code/datums/station_traits/_station_trait.dm
  code/datums/station_traits/negative.dm
  code/datums/station_traits/neutral.dm
  code/datums/station_traits/positive.dm
  code/game/objects/items/weapons/storage/boxes.dm
  code/modules/overmap/exoplanets/exoplanet_atmosphere.dm
  maps/torch/torch_setup.dm
  test/run-test.sh
Labels: 📘1 Feature, 📀3 Testmerged, 🚢2 Ported

#247 AI hud
  baystation12.dme
  code/__defines/_planes+layers.dm
  code/__defines/misc.dm
  code/_onclick/hud/_defines.dm
  code/_onclick/hud/ai.dm
  code/_onclick/hud/ai_screen_objects.dm
  code/_onclick/hud/robot.dm
  code/_onclick/hud/screen_objects.dm
  code/modules/mob/living/silicon/ai/ai.dm
  code/modules/mob/observer/freelook/chunk.dm
  icons/mob/screen_ai.dmi
Labels: 📘1 Feature, 📀3 Testmerged, 🚢2 Ported

#250 Ghost HUD
  baystation12.dme
  code/_onclick/hud/_defines.dm
  code/_onclick/hud/ghost.dm
  code/_onclick/hud/ghost_screen_objects.dm
  icons/mob/screen_ghost.dmi
Labels: 📘1 Feature, 📀3 Testmerged

#254 Adds authorship to the PR template
  .github/PULL_REQUEST_TEMPLATE.md
Labels: 💻2 Github

#241 Orbiting + Floating for ghosts
  baystation12.dme
  code/__defines/subsystem-priority.dm
  code/_helpers/global_access.dm
  code/_helpers/matrices.dm
  code/controllers/subsystems/orbit.dm
  code/datums/orbit.dm
  code/game/atoms.dm
  code/game/atoms_movable.dm
  code/game/turfs/turf.dm
  code/modules/mob/animations.dm
  code/modules/mob/observer/ghost/ghost.dm
  test/run-test.sh
Labels: 📘1 Feature, 🚢2 Ported

#264 Allows Vox to hold limited positions on Torch
  code/game/objects/items/weapons/storage/boxes.dm
  code/modules/species/outsider/vox.dm
  maps/torch/job/misc_jobs.dm
  maps/torch/job/outfits/misc_outfits.dm
  maps/torch/job/torch_jobs.dm
  maps/torch/loadout/loadout_xeno.dm
  maps/torch/torch_ranks.dm
Labels: 🔨1 Tweak

#246 Simple mob combat tweaks
  code/_helpers/game.dm
  code/modules/mob/death.dm
  code/modules/mob/living/living.dm
  code/modules/mob/living/simple_animal/combat.dm
  code/modules/mob/living/simple_animal/hostile/hivebot.dm
  code/modules/mob/living/simple_animal/life.dm
  code/modules/mob/living/simple_animal/simple_animal.dm
  code/modules/mob/mob.dm
Labels: 🔨1 Tweak, 🔧1 Fix, 📀3 Testmerged

#265 Edit regeneration aura messages to be more natural
  code/modules/mob/living/carbon/human/human_powers.dm
Labels: 🔨1 Tweak

#266 Wasgaelhi is less potent, mumbak stink has alcoholic strength
  code/modules/reagents/Chemistry-Reagents/Chemistry-Reagents-Drinks.dm
  code/modules/reagents/Chemistry-Recipes.dm
Labels: 🔨1 Tweak

#269 Rename crew transfer factor to transfer vote multiplier
  code/datums/vote/transfer.dm
Labels: 🔨1 Tweak

#271 Vox engineering equipment
  code/game/objects/structures/crates_lockers/closets/secure/engineering.dm
  maps/torch/torch3_deck3.dmm
Labels: 🔨1 Tweak, 🍁1 Map

#253 Updating the AI core
  maps/torch/torch4_deck2.dmm
  maps/torch/torch6_bridge.dmm
Labels: 🍁1 Map

#275 Removes stripper clothing
  code/datums/trading/goods.dm
  code/modules/clothing/suits/miscellaneous.dm
Labels: 💔2 Removal

#274 Fix space pike sprite
  code/modules/mob/living/simple_animal/hostile/pike.dm
Labels: 🔧1 Fix

#278 Cryopod join tweaks
  code/modules/client/preferences_spawnpoints.dm
Labels: 🔨1 Tweak

#280 Tweaks few gamemode player requirements
  code/game/gamemodes/chorus/chorus.dm
  code/game/gamemodes/mixed/spyvspy.dm
  code/game/gamemodes/revolution/revolution.dm
  code/game/gamemodes/traitor/traitor.dm
Labels: 🔨1 Tweak

#255 AI modules show laws
  code/game/objects/items/weapons/AI_modules.dm
Labels: 🔨1 Tweak

#272 Merchant & Trade tweaks
  baystation12.dme
  code/datums/trading/__trading_defines.dm
  code/datums/trading/_trade.dm
  code/datums/trading/_trade_response.dm
  code/datums/trading/goods.dm
  code/datums/trading/illegal.dm
  code/datums/trading/vox.dm
  code/modules/item_worth/trade_name.dm
  code/modules/item_worth/value_procs.dm
  code/modules/merchant/merchant_machinery.dm
  code/modules/merchant/merchant_programs.dm
  code/modules/mob/skills/skill_verbs.dm
  code/modules/modular_computers/file_system/program.dm
Labels: 🔬1 Code improvement, 🔨1 Tweak, 🔧1 Fix

#281 Windows fire_act() fix
  code/game/atoms_health.dm
  code/game/objects/structures/window.dm
Labels: 🔧1 Fix, 📀3 Testmerged

#262 Update create_object admin panel
  code/_helpers/global_access.dm
  code/modules/admin/create_mob.dm
  code/modules/admin/create_object.dm
  code/modules/admin/create_turf.dm
  code/modules/admin/topic.dm
  html/create_object.html
  test/run-test.sh
Labels: 🔨1 Tweak, 📀3 Testmerged, 🚢2 Ported

#282 Mobs can no longer move up or down while buckled
  code/modules/mob/mob_movement.dm
Labels: 🔧1 Fix

#289 Update CODE_OF_CONDUCT.md
  docs/CODE_OF_CONDUCT.md
Labels: 💻2 Github, Red Label

#288 Nabber & unarmed attack tweaks
  code/modules/mob/living/carbon/human/human_attackhand.dm
  code/modules/mob/living/carbon/human/unarmed_attack.dm
  code/modules/mob/living/simple_animal/defense.dm
  code/modules/species/species.dm
  code/modules/species/species_attack.dm
Labels: ⚖1 Balance, 🔧1 Fix

#257 Airlocks open&close faster
  code/game/machinery/doors/airlock.dm
  code/game/machinery/doors/door.dm
  icons/obj/doors/ascent/base.dmi
  icons/obj/doors/ascent/panel.dmi
  icons/obj/doors/centcomm/door.dmi
  icons/obj/doors/centcomm/fill_steel.dmi
  icons/obj/doors/double/color.dmi
  icons/obj/doors/double/door.dmi
  icons/obj/doors/double/fill_color.dmi
  icons/obj/doors/double/fill_glass.dmi
  icons/obj/doors/double/fill_steel.dmi
  icons/obj/doors/double/fill_stripe.dmi
  icons/obj/doors/double/lights_green.dmi
  icons/obj/doors/double/panel.dmi
  icons/obj/doors/double/stripe.dmi
  icons/obj/doors/external/color.dmi
  icons/obj/doors/external/door.dmi
  icons/obj/doors/external/fill_color.dmi
  icons/obj/doors/external/fill_glass.dmi
  icons/obj/doors/external/fill_steel.dmi
  icons/obj/doors/hatch/door.dmi
  icons/obj/doors/hatch/fill_steel.dmi
  icons/obj/doors/hatch/fill_stripe.dmi
  icons/obj/doors/hatch/lights_green.dmi
  icons/obj/doors/hatch/panel.dmi
  icons/obj/doors/hatch/stripe.dmi
  icons/obj/doors/secure/door.dmi
  icons/obj/doors/station/color.dmi
  icons/obj/doors/station/door.dmi
  icons/obj/doors/station/fill_color.dmi
  icons/obj/doors/station/fill_glass.dmi
  icons/obj/doors/station/fill_steel.dmi
  icons/obj/doors/station/fill_stripe.dmi
  icons/obj/doors/station/lights_green.dmi
  icons/obj/doors/station/panel.dmi
  icons/obj/doors/station/stripe.dmi
  icons/obj/doors/vault/door.dmi
Labels: 🔨1 Tweak, 📀3 Testmerged

#258 Random sound edits
  code/_global_vars/sound.dm
  code/game/objects/structures/window.dm
  code/game/sound.dm
  code/modules/organs/external/_external.dm
  code/modules/overmap/disperser/disperser_fire.dm
  code/modules/reagents/reagent_containers/food/cans.dm
  code/modules/species/outsider/zombie.dm
  sound/effects/wounds/bonebreak1.ogg
  sound/effects/wounds/bonebreak2.ogg
  sound/effects/wounds/bonebreak3.ogg
  sound/effects/wounds/bonebreak4.ogg
  sound/effects/wounds/crack1.ogg
  sound/effects/wounds/crack2.ogg
  sound/effects/wounds/crack3.ogg
  sound/effects/wounds/sizzle1.ogg
  sound/effects/wounds/sizzle2.ogg
Labels: 🔨1 Tweak, 📀3 Testmerged

#283 Ascent nerf & fix
  code/modules/ascent/ascent_machines.dm
  code/modules/projectiles/guns/energy/mantid.dm
  code/modules/projectiles/projectile/beams.dm
  icons/obj/ascent_sleepers.dmi
Labels: 🔨1 Tweak, 🔧1 Fix
