Repository vlggms/tegustation-bay12, pull requests merged in 2022-12, with the labels that each got.

#316 Sensors console UI tweak
  code/modules/overmap/ships/computers/sensors.dm
  nano/templates/shipsensors.tmpl
Labels: 🔨1 Tweak, 🚢2 Ported

#315 Explosive admin verb, admin missiles, explosion fix, APC admin use fix
  code/_helpers/areas.dm
  code/game/gamemodes/meteor/meteors.dm
  code/game/objects/explosion_recursive.dm
  code/modules/admin/admin_verbs.dm
  code/modules/admin/buildmode/meteor.dm
  code/modules/admin/verbs/randomverbs.dm
  code/modules/power/apc.dm
  icons/obj/missile.dmi
  test/check-paths.sh
Labels: 📘1 Feature, 🔨1 Tweak, 🔧1 Fix, 🚢2 Ported

#273 Blueriver nerf/tweak
  maps/away/blueriver/blueriver.dm
Labels: 🔨1 Tweak

#304 Simple mob updates + random monsters
  baystation12.dme
  code/game/antagonist/station/apostle.dm
  code/game/objects/effects/temporary.dm
  code/game/objects/effects/temporary_effect.dm
  code/modules/ai/_defines.dm
  code/modules/ai/interfaces.dm
  code/modules/mob/living/carbon/human/human_defense.dm
  code/modules/mob/living/simple_animal/aquatic/_aquatic.dm
  code/modules/mob/living/simple_animal/aquatic/_aquatic_hostile.dm
  code/modules/mob/living/simple_animal/aquatic/_aquatic_retaliate.dm
  code/modules/mob/living/simple_animal/aquatic/aquatic_sharks.dm
  code/modules/mob/living/simple_animal/borer/borer.dm
  code/modules/mob/living/simple_animal/constructs/constructs.dm
  code/modules/mob/living/simple_animal/hostile/bad_drone.dm
  code/modules/mob/living/simple_animal/hostile/bear.dm
  code/modules/mob/living/simple_animal/hostile/carp.dm
  code/modules/mob/living/simple_animal/hostile/creature.dm
  code/modules/mob/living/simple_animal/hostile/giant_spider/_giant_spider.dm
  code/modules/mob/living/simple_animal/hostile/giant_spider/guard.dm
  code/modules/mob/living/simple_animal/hostile/giant_spider/hunter.dm
  code/modules/mob/living/simple_animal/hostile/giant_spider/nurse.dm
  code/modules/mob/living/simple_animal/hostile/hivebot.dm
  code/modules/mob/living/simple_animal/hostile/meat_horrors.dm
  code/modules/mob/living/simple_animal/hostile/megafauna/apostle.dm
  code/modules/mob/living/simple_animal/hostile/mimic.dm
  code/modules/mob/living/simple_animal/hostile/pike.dm
  code/modules/mob/living/simple_animal/hostile/pirate.dm
  code/modules/mob/living/simple_animal/hostile/random_monster/_random_abilities.dm
  code/modules/mob/living/simple_animal/hostile/random_monster/_random_monster.dm
  code/modules/mob/living/simple_animal/hostile/random_monster/active_abilities.dm
  code/modules/mob/living/simple_animal/hostile/random_monster/death_abilities.dm
  code/modules/mob/living/simple_animal/hostile/retaliate/alligator.dm
  code/modules/mob/living/simple_animal/hostile/retaliate/clown.dm
  code/modules/mob/living/simple_animal/hostile/retaliate/drone.dm
  code/modules/mob/living/simple_animal/hostile/retaliate/exoplanet.dm
  code/modules/mob/living/simple_animal/hostile/retaliate/jelly.dm
  code/modules/mob/living/simple_animal/hostile/retaliate/tegu.dm
  code/modules/mob/living/simple_animal/hostile/russian.dm
  code/modules/mob/living/simple_animal/hostile/syndicate.dm
  code/modules/mob/living/simple_animal/hostile/tree.dm
  code/modules/mob/living/simple_animal/hostile/vagrant.dm
  code/modules/mob/living/simple_animal/hostile/voxslug.dm
  code/modules/mob/living/simple_animal/life.dm
  code/modules/mob/living/simple_animal/shade.dm
  code/modules/mob/living/simple_animal/simple_animal.dm
  code/modules/projectiles/projectile/beams.dm
  code/modules/projectiles/projectile/energy.dm
  icons/mob/simple_animal/random_monster.dmi
  maps/away/ascent_caulship/ascent_props.dm
  maps/away/blueriver/blueriver.dm
  maps/away/errant_pisces/errant_pisces.dm
  maps/away/lar_maria/lar_maria.dm
  maps/away/meatstation/meatstation.dm
  maps/away/slavers/slavers_base.dm
Labels: 📘1 Feature, 🔨1 Tweak

#300 OBS Shuttle
  code/modules/clothing/under/accessories/armband.dm
  icons/mob/onmob/onmob_accessories.dmi
  icons/obj/clothing/obj_accessories.dmi
  maps/away/obs_shuttle/obs_shuttle.dm
  maps/away/obs_shuttle/obs_shuttle.dmm
  maps/away/obs_shuttle/obs_shuttle_areas.dm
  maps/away/obs_shuttle/obs_shuttle_jobs.dm
  maps/torch/torch.dm
Labels: 📘1 Feature

#317 Updates OBS shuttle
  code/modules/submaps/submap_job.dm
  maps/away/obs_shuttle/obs_shuttle.dmm
  maps/away/obs_shuttle/obs_shuttle_jobs.dm
  maps/torch/torch_submaps.dm
Labels: 🔨1 Tweak, 🍁1 Map

#318 Adds cloak accessories & Allows to tie armbands to suits/armor.
  baystation12.dme
  code/__defines/items_clothing.dm
  code/modules/clothing/clothing.dm
  code/modules/clothing/spacesuits/spacesuits.dm
  code/modules/clothing/under/accessories/cloak.dm
  icons/mob/onmob/onmob_accessories.dmi
  icons/obj/clothing/obj_accessories.dmi
Labels: 🔨1 Tweak

#319 Psionics fix
  code/datums/mind/mind.dm
  code/modules/psionics/complexus/complexus.dm
  code/modules/psionics/complexus/complexus_helpers.dm
  code/modules/psionics/complexus/complexus_power_cache.dm
  code/modules/psionics/complexus/complexus_process.dm
  code/modules/psionics/complexus/complexus_topic.dm
  code/modules/psionics/equipment/cerebro_enhancers.dm
  code/modules/psionics/events/_psi.dm
  code/modules/psionics/events/mini_spasm.dm
  code/modules/psionics/events/psi_balm.dm
  code/modules/psionics/events/psi_wail.dm
Labels: 🔧1 Fix

#320 Field disperser update
  code/game/sound.dm
  code/modules/admin/verbs/randomverbs.dm
  code/modules/overmap/disperser/disperser_charge.dm
  code/modules/overmap/disperser/disperser_console.dm
  code/modules/overmap/disperser/disperser_fire.dm
  icons/obj/munitions.dmi
  sound/effects/orbital_bombardment.ogg
Labels: 📘1 Feature, 🔨1 Tweak

#323 Bigger preview in character setup!
  code/game/jobs/job/job.dm
  code/modules/mob/new_player/preferences_setup.dm
Labels: 🔨1 Tweak
