Repository vlggms/tegustation-bay12, pull requests merged in 2022-05, with the labels that each got.

#261 Modes that cannot be ran can't be voted for
  code/controllers/configuration.dm
  code/controllers/subsystems/ticker.dm
  code/datums/vote/gamemode.dm
  code/game/gamemodes/game_mode.dm
  config/example/config.txt
Labels: 🔨1 Tweak, 🚢2 Ported

#302 Replaces old sprites, adds new ones.
  code/datums/supplypacks/flooring.dm
  code/game/objects/items/stacks/tiles/tile_types.dm
  code/game/objects/items/weapons/storage/firstaid.dm
  code/game/turfs/flooring/flooring.dm
  code/game/turfs/flooring/flooring_premade.dm
  icons/mob/onmob/items/lefthand.dmi
  icons/mob/onmob/items/righthand.dmi
  icons/obj/stock_parts.dmi
  icons/obj/storage.dmi
  icons/obj/tiles.dmi
  icons/turf/flooring/carpet.dmi
  maps/away/bearcat/bearcat-1.dmm
  maps/away/casino/casino.dmm
  maps/away/mining/mining-signal.dmm
  maps/away/miningstation/miningstation.dmm
  maps/random_ruins/exoplanet_ruins/hut/hut.dmm
  maps/random_ruins/exoplanet_ruins/oldlab2/oldlab2.dmm
  maps/random_ruins/exoplanet_ruins/playablecolony/colony.dmm
  maps/torch/torch2_deck4.dmm
  maps/torch/torch3_deck3.dmm
  maps/torch/torch5_deck1.dmm
  maps/torch/torch6_bridge.dmm
Labels: 🔨1 Tweak, 🚢2 Ported

#232 Apostle
  baystation12.dme
  code/_helpers/unsorted.dm
  code/game/antagonist/station/apostle.dm
  code/game/objects/effects/temporary_effect.dm
  code/modules/mob/living/simple_animal/hostile/megafauna/_megafauna.dm
  code/modules/mob/living/simple_animal/hostile/megafauna/apostle.dm
  code/modules/mob/living/simple_animal/natural_weapons.dm
  icons/mob/32x64.dmi
  icons/mob/simple_animal/apostle.dmi
  sound/effects/apostle/antagonist/rapture.ogg
  sound/effects/apostle/antagonist/rapture2.ogg
  sound/effects/apostle/antagonist/scythe.ogg
  sound/effects/apostle/antagonist/scythe_spell.ogg
  sound/effects/apostle/antagonist/spear.ogg
  sound/effects/apostle/antagonist/spear_charge.ogg
  sound/effects/apostle/antagonist/spear_dash.ogg
  sound/effects/apostle/antagonist/staff_charge.ogg
  sound/effects/apostle/antagonist/whisper.ogg
  sound/effects/apostle/mob/apostle_bell.ogg
  sound/effects/apostle/mob/apostle_death.ogg
  sound/effects/apostle/mob/apostle_death_final.ogg
  sound/effects/apostle/mob/apostle_heal.ogg
  sound/effects/apostle/mob/apostle_shout.ogg
  sound/effects/apostle/mob/apostle_spell.ogg
  sound/effects/apostle/mob/ark_damage.ogg
  sound/effects/apostle/mob/fire_activate.ogg
Labels: 📘1 Feature

#204 "Space lube" returns
  code/game/turfs/simulated.dm
  code/modules/hydroponics/grown.dm
  code/modules/mob/living/silicon/robot/modules/module_janitor.dm
  code/modules/organs/internal/species/vox.dm
  code/modules/reagents/Chemistry-Reagents/Chemistry-Reagents-Other.dm
  icons/effects/water.dmi
Labels: 📘1 Feature, 🔨1 Tweak

#305 Laughing & clapping emotes now have sound effects
  code/modules/emotes/definitions/audible.dm
  sound/misc/clap1.ogg
  sound/misc/clap2.ogg
  sound/misc/clap3.ogg
  sound/misc/clap4.ogg
  sound/voice/human/manlaugh1.ogg
  sound/voice/human/manlaugh2.ogg
  sound/voice/human/womanlaugh.ogg
Labels: 🔨1 Tweak, 🚢2 Ported

#307 Event tweaks
  code/game/gamemodes/events.dm
  code/modules/events/event.dm
  code/modules/events/event_container.dm
  code/modules/events/exo_awakening/exo_awaken.dm
  code/modules/events/mail.dm
  code/modules/power/apc.dm
Labels: 🔬1 Code improvement, 🔨1 Tweak, 🔧1 Fix

#309 Drag&drop inventory UI
  code/modules/mob/living/carbon/human/human.dm
Labels: 🔨1 Tweak
