Repository vlggms/tegustation-bay12, pull requests merged in 2023-05, with the labels that each got.

#355 Whitelist requirement removed from certain species
  baystation12.dme
  code/modules/species/station/diona.dm
  code/modules/species/station/human.dm
  code/modules/species/station/machine.dm
  code/modules/species/station/skrell.dm
  code/modules/species/station/station.dm
  code/modules/species/station/unathi.dm
  code/modules/species/station/unathi_subspecies.dm
Labels: 🔨1 Tweak

#358 Disperser charges tweaks
  baystation12.dme
  code/datums/supplypacks/munitions.dm
  code/game/objects/munition.dm
  code/modules/overmap/disperser/disperser_charge.dm
  icons/obj/munitions.dmi
  maps/random_ruins/exoplanet_ruins/icarus/icarus.dmm
Labels: 🔨1 Tweak

#357 Drone tweaks
  baystation12.dme
  code/modules/mob/living/silicon/robot/drone/drone.dm
  code/modules/mob/living/silicon/robot/drone/drone_manufacturer.dm
  code/modules/mob/living/silicon/robot/drone/drone_remote_control.dm
Labels: ⚖1 Balance, 🔨1 Tweak

#362 Fixes OB charge supply pack
  code/datums/supplypacks/munitions.dm
Labels: 🔧1 Fix

#361 Holopad updates
  code/game/machinery/hologram.dm
  code/modules/admin/view_variables/vv_set_handlers.dm
Labels: 🔬1 Code improvement, 🔨1 Tweak

#366 Forbid respawns as same character
  code/controllers/subsystems/jobs.dm
Labels: 🔨1 Tweak

#368 Posters have normal names again
  code/game/objects/effects/decals/contraband.dm
Labels: 🔨1 Tweak

#369 Quick poster name fix
  code/game/objects/effects/decals/contraband.dm
Labels: 🔧1 Fix

#370 Mentor tweaks & fixes
  code/datums/communication/aooc.dm
  code/datums/communication/dsay.dm
  code/datums/communication/pray.dm
  code/game/gamemodes/game_mode.dm
  code/modules/admin/admin.dm
  code/modules/admin/admin_verbs.dm
  code/modules/admin/mentor_verbs.dm
  code/modules/admin/ticket.dm
  code/modules/admin/topic.dm
  code/modules/admin/verbs/adminhelp.dm
  code/modules/admin/verbs/adminpm.dm
  code/modules/admin/verbs/adminsay.dm
  code/modules/admin/verbs/deadsay.dm
  code/modules/mob/new_player/new_player.dm
  code/modules/mob/observer/ghost/ghost.dm
Labels: 🔨1 Tweak, 🔧1 Fix

#371 Fix random object spawns
  code/game/objects/random/random.dm
Labels: 🔧1 Fix

#365 DCS Framework port
  baystation12.dme
  code/__defines/dcs/flags.dm
  code/__defines/dcs/helpers.dm
  code/__defines/dcs/signals.dm
  code/__defines/flags.dm
  code/_helpers/global_access.dm
  code/_helpers/logging.dm
  code/_helpers/type2type.dm
  code/_helpers/unsorted.dm
  code/_macros.dm
  code/controllers/subsystems/dcs.dm
  code/controllers/subsystems/garbage.dm
  code/datums/components/COMPONENT_TEMPLATE.md
  code/datums/components/_component.dm
  code/datums/datum.dm
  code/datums/elements/ELEMENT_TEMPLATE.md
  code/datums/elements/_elements.dm
  code/datums/repositories/_defines.dm
  code/datums/repositories/client.dm
  code/datums/repositories/mobs.dm
  code/game/objects/explosion.dm
  code/modules/integrated_electronics/subtypes/input.dm
  code/modules/mob/death.dm
  code/modules/mob/mob.dm
  code/modules/modular_computers/file_system/programs/command/comm.dm
  code/modules/modular_computers/file_system/programs/engineering/shields_monitor.dm
  code/unit_tests/map_tests.dm
  test/check-paths.sh
  test/run-test.sh
Labels: 📘1 Feature, 🚢2 Ported

#351 Abominable infestation tweaks
  baystation12.dme
  code/__defines/mobs.dm
  code/game/atoms_movable.dm
  code/game/objects/items/weapons/implants/implant.dm
  code/game/objects/items/weapons/implants/implants/death_alarm.dm
  code/game/objects/items/weapons/implants/implants/explosive.dm
  code/game/objects/items/weapons/implants/implants/imprinting.dm
  code/game/objects/items/weapons/implants/implants/translator.dm
  code/modules/admin/verbs/randomverbs.dm
  code/modules/events/abominable_infestation.dm
  code/modules/events/event_container.dm
  code/modules/events/event_dynamic.dm
  code/modules/events/spider_infestation.dm
  code/modules/mob/living/simple_animal/aquatic/aquatic_sharks.dm
  code/modules/mob/living/simple_animal/borer/borer.dm
  code/modules/mob/living/simple_animal/combat.dm
  code/modules/mob/living/simple_animal/hostile/commanded/commanded.dm
  code/modules/mob/living/simple_animal/hostile/commanded/nanomachines.dm
  code/modules/mob/living/simple_animal/hostile/giant_spider/guard.dm
  code/modules/mob/living/simple_animal/hostile/giant_spider/spitter.dm
  code/modules/mob/living/simple_animal/hostile/hostile.dm
  code/modules/mob/living/simple_animal/hostile/infestation/_infestation.dm
  code/modules/mob/living/simple_animal/hostile/infestation/assembler.dm
  code/modules/mob/living/simple_animal/hostile/infestation/broodling.dm
  code/modules/mob/living/simple_animal/hostile/infestation/eviscerator.dm
  code/modules/mob/living/simple_animal/hostile/infestation/larva.dm
  code/modules/mob/living/simple_animal/hostile/infestation/rhino.dm
  code/modules/mob/living/simple_animal/hostile/infestation/spitter.dm
  code/modules/mob/living/simple_animal/hostile/meat_horrors.dm
  code/modules/mob/living/simple_animal/hostile/mimic.dm
  code/modules/mob/living/simple_animal/hostile/pike.dm
  code/modules/mob/living/simple_animal/hostile/retaliate/drone.dm
  code/modules/mob/living/simple_animal/hostile/retaliate/exoplanet.dm
  code/modules/mob/living/simple_animal/hostile/retaliate/jelly.dm
  code/modules/mob/living/simple_animal/hostile/retaliate/king_of_goats.dm
  code/modules/mob/living/simple_animal/hostile/retaliate/space_whale.dm
  code/modules/mob/living/simple_animal/hostile/riot.dm
  code/modules/mob/living/simple_animal/hostile/vagrant.dm
  code/modules/mob/living/simple_animal/hostile/voxslug.dm
  code/modules/mob/living/simple_animal/natural_weapons.dm
  code/modules/mob/living/simple_animal/simple_animal.dm
  code/modules/mob/mob.dm
  code/modules/organs/external/_external.dm
  code/modules/overmap/exoplanets/exoplanet_fauna.dm
  code/modules/overmap/exoplanets/planet_types/infested.dm
  code/modules/psionics/equipment/implant.dm
  code/modules/surgery/implant.dm
  icons/mob/simple_animal/abominable_infestation/32x32.dmi
  icons/mob/simple_animal/abominable_infestation/48x48.dmi
  maps/away/ascent_caulship/ascent_props.dm
  maps/away/blueriver/blueriver.dm
  sound/simple_mob/abominable_infestation/rhino/death.ogg
  sound/simple_mob/abominable_infestation/rhino/roar.ogg
  sound/simple_mob/abominable_infestation/rhino/step.ogg
  sound/simple_mob/abominable_infestation/rhino/step_angry.ogg
Labels: 🔨1 Tweak

#373 Nerfs abominations
  code/modules/mob/living/simple_animal/hostile/infestation/_infestation.dm
  code/modules/mob/living/simple_animal/hostile/infestation/assembler.dm
  code/modules/mob/living/simple_animal/hostile/infestation/broodling.dm
  code/modules/mob/living/simple_animal/hostile/infestation/eviscerator.dm
  code/modules/mob/living/simple_animal/hostile/infestation/rhino.dm
  code/modules/mob/living/simple_animal/hostile/infestation/spitter.dm
  code/modules/projectiles/projectile/energy.dm
Labels: ⚖1 Balance

#364 Adds "succumb" verb to humans
  code/modules/mob/living/carbon/human/death.dm
Labels: 🔨1 Tweak

#375 OBS shuttle tweaks
  maps/away/obs_shuttle/obs_shuttle.dm
  maps/away/obs_shuttle/obs_shuttle.dmm
Labels: 🔧1 Fix, 🍁1 Map

#379 RCD QOL additions
  code/game/objects/items/weapons/RCD.dm
Labels: 🔨1 Tweak, 🚢2 Ported

#377 Crew Manifest Department Colors
  code/__defines/colors.dm
  code/modules/mob/observer/ghost/ghost.dm
  code/modules/modular_computers/file_system/manifest.dm
Labels: 🔨1 Tweak, 🚢2 Ported

#376 HUD screen objects are more transparent
  icons/obj/hud_full.dmi
Labels: 🔨1 Tweak

#380 Small records fixes/tweaks
  code/modules/modular_computers/file_system/reports/crew_record.dm
Labels: 🔧1 Fix

#378 Overmap transmission beacons
  baystation12.dme
  code/datums/extensions/multitool/store.dm
  code/modules/overmap/ships/beacon.dm
  code/modules/overmap/ships/computers/sensors.dm
  code/modules/research/designs/designs_circuits.dm
  icons/obj/overmap.dmi
  icons/obj/stationobjs.dmi
  icons/obj/structures/beacon.dmi
  maps/away/ascent_caulship/ascent-1.dmm
  maps/away/bearcat/bearcat-2.dmm
  maps/away/bunker/bunker-2.dmm
  maps/away/casino/casino.dmm
  maps/away/obs_shuttle/obs_shuttle.dmm
  maps/away/voxship/voxship-2.dmm
  maps/random_ruins/exoplanet_ruins/crashed_pod/crashed_pod.dmm
  maps/random_ruins/exoplanet_ruins/icarus/icarus.dmm
  maps/random_ruins/exoplanet_ruins/playablecolony/colony.dmm
  maps/random_ruins/exoplanet_ruins/playablecolony2/colony2.dmm
  sound/machines/sensors/newcontact.ogg
Labels: 📘1 Feature, 🔨1 Tweak, 🚢2 Ported

#381 Railgun tweaks
  code/modules/projectiles/guns/magnetic/magnetic.dm
  code/modules/projectiles/guns/magnetic/magnetic_railgun.dm
  code/modules/projectiles/projectile/magnetic.dm
Labels: ⚖1 Balance, 🔬1 Code improvement

#382 Adds verb to spawn supply pack
  code/datums/supplypacks/supplypack.dm
  code/modules/admin/admin.dm
  code/modules/admin/admin_verbs.dm
Labels: 📘1 Feature

#384 Slight vines update
  code/game/objects/items/weapons/material/twohanded.dm
  code/modules/hydroponics/spreading/spreading.dm
  code/modules/hydroponics/spreading/spreading_growth.dm
  code/modules/hydroponics/spreading/spreading_response.dm
  code/modules/mob/living/simple_animal/friendly/farm_animals.dm
Labels: 🔨1 Tweak

#374 Abominable Infestation upgrades
  baystation12.dme
  code/game/objects/structures.dm
  code/game/turfs/flooring/flooring.dm
  code/modules/mob/living/simple_animal/hostile/infestation/structures/hive_heart.dm
  code/modules/xenoarcheaology/artifacts/effects/hell_portal.dm
  icons/mob/simple_animal/abominable_infestation/64x64.dmi
  sound/effects/heartbeat_low.ogg
  sound/simple_mob/abominable_infestation/heart_death.ogg
Labels: 🔨1 Tweak

#383 Adds scanner gates
  baystation12.dme
  code/_helpers/game.dm
  code/_helpers/mobs.dm
  code/game/machinery/scan_gate.dm
  code/game/objects/items/weapons/circuitboards/machinery/scan_gate.dm
  code/modules/research/designs/designs_circuits.dm
  icons/obj/machines/scangate.dmi
  sound/machines/scanbuzz.ogg
Labels: 📘1 Feature, 🚢2 Ported

#363 Reduces organ damage
  code/__defines/damage_organs.dm
  code/modules/mob/living/carbon/human/life.dm
  code/modules/organs/external/_external.dm
  code/modules/organs/external/_external_damage.dm
  code/modules/organs/internal/lungs.dm
Labels: ⚖1 Balance

#387 Revamps the Lar Maria away mission
  maps/away/lar_maria/lar_maria-1.dmm
  maps/away/lar_maria/lar_maria-2.dmm
  maps/away/lar_maria/lar_maria.dm
  maps/away/lar_maria/lar_maria_areas.dm
  maps/away/lar_maria/lar_maria_sprites.dmi
Labels: 🍁1 Map

#389 Lar Maria Revamp BugFix
  maps/away/lar_maria/lar_maria-1.dmm
  maps/away/lar_maria/lar_maria-2.dmm
Labels: 🔧1 Fix
