Repository vlggms/tegustation-bay12, pull requests merged in 2023-01, with the labels that each got.

#324 Adds ghost hud arrows and fixes a minor bug
  code/_onclick/ghost.dm
  code/_onclick/hud/_defines.dm
  code/_onclick/hud/ghost.dm
  code/_onclick/hud/ghost_screen_objects.dm
  icons/mob/screen_ghost.dmi
Labels: 🔨1 Tweak

#325 Light range increase for most sources
  code/game/objects/items/devices/flashlight.dm
  code/game/objects/items/weapons/grenades/light.dm
  code/modules/clothing/clothing.dm
  code/modules/power/lighting.dm
Labels: 🔨1 Tweak

#321 Combat improvements, organ & dismemberment tweaks
  baystation12.dme
  code/__defines/damage_organs.dm
  code/modules/organs/_organ_setup.dm
  code/modules/organs/external/_external_damage.dm
  code/modules/organs/external/head.dm
  code/modules/organs/external/standard.dm
  code/modules/organs/internal/_internal.dm
  code/modules/organs/internal/appendix.dm
  code/modules/organs/internal/brain.dm
  code/modules/organs/internal/eyes.dm
  code/modules/organs/internal/heart.dm
  code/modules/organs/internal/kidneys.dm
  code/modules/organs/internal/liver.dm
  code/modules/organs/internal/lungs.dm
  code/modules/organs/internal/stomach.dm
  code/modules/organs/organ.dm
  code/modules/reagents/Chemistry-Reagents/medicines/medicines_core.dm
Labels: ⚖1 Balance, 🔬1 Code improvement, 🔨1 Tweak, 💿3 Test Merge Candidate

#245 Artifact rework
  baystation12.dme
  code/__defines/xenoarcheaology.dm
  code/modules/admin/admin.dm
  code/modules/organs/external/_external.dm
  code/modules/shieldgen/energy_field.dm
  code/modules/xenoarcheaology/anomaly_container.dm
  code/modules/xenoarcheaology/artifacts/artifact.dm
  code/modules/xenoarcheaology/artifacts/artifact_find.dm
  code/modules/xenoarcheaology/artifacts/effects/_effect.dm
  code/modules/xenoarcheaology/artifacts/effects/bone_break.dm
  code/modules/xenoarcheaology/artifacts/effects/bone_mend.dm
  code/modules/xenoarcheaology/artifacts/effects/cellcharge.dm
  code/modules/xenoarcheaology/artifacts/effects/celldrain.dm
  code/modules/xenoarcheaology/artifacts/effects/cold.dm
  code/modules/xenoarcheaology/artifacts/effects/dnaswitch.dm
  code/modules/xenoarcheaology/artifacts/effects/emp.dm
  code/modules/xenoarcheaology/artifacts/effects/forcefield.dm
  code/modules/xenoarcheaology/artifacts/effects/heal.dm
  code/modules/xenoarcheaology/artifacts/effects/heat.dm
  code/modules/xenoarcheaology/artifacts/effects/hell_portal.dm
  code/modules/xenoarcheaology/artifacts/effects/hurt.dm
  code/modules/xenoarcheaology/artifacts/effects/organ_mend.dm
  code/modules/xenoarcheaology/artifacts/effects/pushback.dm
  code/modules/xenoarcheaology/artifacts/effects/radiate.dm
  code/modules/xenoarcheaology/artifacts/effects/roboheal.dm
  code/modules/xenoarcheaology/artifacts/effects/robohurt.dm
  code/modules/xenoarcheaology/artifacts/effects/skill_buff.dm
  code/modules/xenoarcheaology/artifacts/effects/sleepy.dm
  code/modules/xenoarcheaology/artifacts/effects/stun.dm
  code/modules/xenoarcheaology/artifacts/effects/teleport.dm
  code/modules/xenoarcheaology/boulder.dm
  code/modules/xenoarcheaology/effect.dm
  code/modules/xenoarcheaology/effects/badfeeling.dm
  code/modules/xenoarcheaology/effects/emp.dm
  code/modules/xenoarcheaology/effects/forcefield.dm
  code/modules/xenoarcheaology/effects/goodfeeling.dm
  code/modules/xenoarcheaology/effects/heal.dm
  code/modules/xenoarcheaology/effects/radiate.dm
  code/modules/xenoarcheaology/effects/roboheal.dm
  code/modules/xenoarcheaology/effects/robohurt.dm
  code/modules/xenoarcheaology/effects/stun.dm
  code/modules/xenoarcheaology/tools/ano_device_battery.dm
  code/modules/xenoarcheaology/tools/ano_scanner.dm
  code/modules/xenoarcheaology/tools/artifact_analyser.dm
  code/modules/xenoarcheaology/tools/artifact_harvester.dm
  code/modules/xenoarcheaology/tools/depth_scanner.dm
  code/modules/xenoarcheaology/tools/tools.dm
  code/modules/xenoarcheaology/triggers/_trigger.dm
  code/modules/xenoarcheaology/triggers/chemical.dm
  code/modules/xenoarcheaology/triggers/energy.dm
  code/modules/xenoarcheaology/triggers/force.dm
  code/modules/xenoarcheaology/triggers/gas.dm
  code/modules/xenoarcheaology/triggers/temperature.dm
  code/modules/xenoarcheaology/triggers/touch.dm
  test/check-paths.sh
Labels: 🔬1 Code improvement, 📘1 Feature, 🔨1 Tweak, 🔧1 Fix, 📀3 Testmerged

#301 Zombie types
  code/_macros.dm
  code/datums/outfits/jobs/security.dm
  code/modules/mob/skills/skillset.dm
  code/modules/species/outsider/zombie.dm
Labels: 🔨1 Tweak

#326 Singularity tweaks
  code/modules/power/singularity/act.dm
  code/modules/power/singularity/singularity.dm
Labels: 🔨1 Tweak

#328 Adds more guns
  code/__defines/guns.dm
  code/modules/projectiles/ammunition/boxes.dm
  code/modules/projectiles/ammunition/bullets.dm
  code/modules/projectiles/guns/energy/pulse.dm
  code/modules/projectiles/guns/projectile/automatic.dm
  code/modules/projectiles/projectile/beams.dm
  code/modules/projectiles/projectile/bullets.dm
  icons/mob/onmob/items/lefthand_guns.dmi
  icons/mob/onmob/items/righthand_guns.dmi
  icons/obj/ammo.dmi
  icons/obj/guns/ak_rifle.dmi
  icons/obj/guns/pulse_rifle.dmi
  sound/weapons/gunshot/ak47.ogg
  sound/weapons/pulse_adv.ogg
Labels: 🔨1 Tweak, 🔧1 Fix

#329 Recharger & Cell charger tweaks
  baystation12.dme
  code/game/machinery/cell_charger.dm
  code/game/machinery/recharger.dm
  code/game/objects/items/weapons/circuitboards/machinery/cell_charger.dm
  code/modules/research/designs/designs_circuits.dm
Labels: 🔨1 Tweak

#327 Increases min/max wound damage; Adds radial menu to another surgery step
  code/modules/organs/external/_external.dm
  code/modules/organs/external/wounds/wound_types.dm
  code/modules/surgery/generic.dm
  code/modules/surgery/organs_internal.dm
Labels: 🔨1 Tweak, 🔧1 Fix

#330 Fix cell charger wrench act and mounted recharger charge rate
  code/game/machinery/cell_charger.dm
  code/game/machinery/recharger.dm
Labels: 🔧1 Fix

#331 Fixes light fixture allowed light tube types
  code/game/objects/alien_props.dm
  code/game/objects/items/devices/lightreplacer.dm
  code/modules/ascent/ascent_machines.dm
  code/modules/power/lighting.dm
  maps/away/skrellscoutship/skrellscoutship.dm
Labels: 🔨1 Tweak, 🔧1 Fix
