Repository vlggms/tegustation-bay12, pull requests merged in 2023-08, with the labels that each got.

#407 Admins can bypass respawn locks
  code/modules/mob/observer/ghost/ghost.dm
Labels: 🔨1 Tweak

#396 Bunker ruin update
  baystation12.dme
  code/game/objects/effects/decals/contraband.dm
  code/game/objects/structures/signs.dm
  code/modules/ai/aI_holder_subtypes/simple_mob_ai.dm
  code/modules/ai/ai_holder_combat.dm
  code/modules/ai/ai_holder_communication.dm
  code/modules/ai/interfaces.dm
  code/modules/ascent/ascent_outfit.dm
  code/modules/awaymissions/corpse.dm
  code/modules/mob/living/simple_animal/hostile/ascent.dm
  code/modules/mob/living/simple_animal/hostile/riot.dm
  code/modules/mob/living/simple_animal/simple_animal.dm
  icons/mob/simple_animal/ascent_enemies.dmi
  icons/obj/contraband.dmi
  icons/obj/isc_decals.dmi
  maps/away/blueriver/blueriver.dm
  maps/away/bunker/bunker-1.dmm
  maps/away/bunker/bunker-2.dmm
  maps/away/bunker/bunker.dm
  maps/away/bunker/bunker.dmi
  maps/away/bunker/bunker_areas.dm
  maps/away/bunker/bunker_random_rooms.dm
  maps/away/bunker/random/bunker_canteen_normal.dmm
  maps/away/bunker/random/bunker_engineering_infested.dmm
  maps/away/bunker/random/bunker_engineering_normal.dmm
  maps/away/bunker/random/bunker_mining_zone_antlion.dmm
  maps/away/bunker/random/bunker_mining_zone_infestation.dmm
  maps/away/bunker/random/bunker_mining_zone_quantum.dmm
  maps/away/bunker/random/bunker_room_south_1.dmm
  maps/away/bunker/random/bunker_room_south_2.dmm
  maps/away/bunker/random/bunker_room_south_3.dmm
Labels: 🔨1 Tweak, 🍁1 Map

#402 Remote weaponry
  baystation12.dme
  code/game/machinery/remote_weapon.dm
  code/game/objects/items/devices/remote_weapon_controller.dm
  code/game/objects/items/remote_weapon_ammo.dm
  code/game/objects/items/weapons/circuitboards/machinery/remote_weapon.dm
  icons/obj/ammo.dmi
  sound/weapons/gunship_chaingun.ogg
  sound/weapons/gunship_laser.ogg
  sound/weapons/gunship_rocket.ogg
  sound/weapons/gunship_rocketpod.ogg
  sound/weapons/mortar_long_whistle.ogg
  sound/weapons/mortar_reload.ogg
  sound/weapons/mortar_travel.ogg
  sound/weapons/mortar_unpack.ogg
  sound/weapons/mortar_whistle.ogg
Labels: 📘1 Feature

#408 Humanoid simple mobs do not threaten enemies, AI tweaks
  code/modules/ai/aI_holder_subtypes/simple_mob_ai.dm
  code/modules/ai/ai_holder_combat.dm
Labels: ⚖1 Balance

#410 Lar Maria Tweaks
  code/modules/reagents/reagent_containers/glass/bottle.dm
  maps/away/lar_maria/lar_maria-1.dmm
  maps/away/lar_maria/lar_maria-2.dmm
Labels: 🍁1 Map

#411 Overmap pixel movement
  code/__defines/overmap.dm
  code/game/machinery/_machines_base/machinery.dm
  code/modules/mob/login.dm
  code/modules/mob/mob.dm
  code/modules/overmap/ships/computers/ship.dm
  code/modules/overmap/ships/landable.dm
  code/modules/overmap/ships/ship.dm
Labels: 📘1 Feature, 🔨1 Tweak, 🚢2 Ported

#412 Window flashing
  code/_helpers/game.dm
  code/modules/admin/verbs/adminhelp.dm
  code/modules/admin/verbs/adminpm.dm
Labels: 🔨1 Tweak, 🚢2 Ported

#413 Manual shuttle landing
  baystation12.dme
  code/controllers/subsystems/shuttle.dm
  code/modules/clothing/masks/miscellaneous.dm
  code/modules/mob/living/life.dm
  code/modules/mob/mob_helpers.dm
  code/modules/mob/observer/eye/eye.dm
  code/modules/mob/observer/eye/freelook/ai/cameranet.dm
  code/modules/mob/observer/eye/freelook/ai/chunk.dm
  code/modules/mob/observer/eye/freelook/ai/eye.dm
  code/modules/mob/observer/eye/freelook/ai/update_triggers.dm
  code/modules/mob/observer/eye/freelook/chunk.dm
  code/modules/mob/observer/eye/freelook/cult/cultnet.dm
  code/modules/mob/observer/eye/freelook/cult/mask.dm
  code/modules/mob/observer/eye/freelook/following.dm
  code/modules/mob/observer/eye/freelook/freelook.dm
  code/modules/mob/observer/eye/freelook/life.dm
  code/modules/mob/observer/eye/freelook/logging.dm
  code/modules/mob/observer/eye/freelook/read_me.dm
  code/modules/mob/observer/eye/freelook/update_triggers.dm
  code/modules/mob/observer/eye/freelook/visualnet.dm
  code/modules/mob/observer/eye/landing_eye/landing_eye.dm
  code/modules/mob/observer/virtual/helpers.dm
  code/modules/mob/skills/skill.dm
  code/modules/overmap/exoplanets/_exoplanet.dm
  code/modules/overmap/overmap_shuttle.dm
  code/modules/overmap/sectors.dm
  code/modules/overmap/ships/computers/shuttle.dm
  code/modules/shuttles/landmarks.dm
  code/modules/shuttles/shuttle.dm
  code/modules/spells/racial_wizard.dm
  icons/obj/action_buttons/actions.dmi
  nano/templates/shuttle_control_console_exploration.tmpl
Labels: 📘1 Feature, 🚢2 Ported

#414 Singularity spawn effect
  code/__defines/_planes+layers.dm
  code/modules/power/singularity/generator.dm
  icons/effects/singularity_effect.dmi
Labels: 🔨1 Tweak, 🚢2 Ported

#415 Fixes item pickup ghost effect, removes /obj/effect/temporary
  code/game/objects/auras/personal_shields/personal_shield.dm
  code/game/objects/effects/item_pickup_ghost.dm
  code/game/objects/effects/temporary.dm
  code/game/objects/items.dm
  code/modules/mechs/equipment/utility.dm
  code/modules/mob/living/carbon/alien/chorus/buildings/generic.dm
  code/modules/shield_generators/shield.dm
  code/modules/species/outsider/starlight.dm
  code/modules/spells/aoe_turf/exchange_wounds.dm
  code/modules/spells/hand/burning_grip.dm
  code/modules/spells/hand/slippery_surface.dm
  code/modules/spells/targeted/_targeted.dm
  code/modules/spells/targeted/analyze.dm
  code/modules/spells/targeted/glimpse_of_eternity.dm
  code/modules/spells/targeted/shapeshift.dm
  maps/away/blueriver/blueriver.dm
Labels: 🔧1 Fix

#416 Give hotkey tweak
  code/modules/keybindings/human.dm
  code/modules/keybindings/mob.dm
Labels: 🔧1 Fix

#409 AI fixes
  baystation12.dme
  code/datums/ai/ai.dm
  code/modules/ai/ai_holder.dm
  code/modules/mob/living/simple_animal/simple_animal.dm
Labels: 🔧1 Fix

#406 More infestation tweaks
  code/modules/mob/grab/abomination/abom_aggressive.dm
  code/modules/mob/grab/abomination/abom_kill.dm
  code/modules/mob/grab/abomination/abom_passive.dm
  code/modules/mob/grab/abomination/grab_abom.dm
  code/modules/mob/living/simple_animal/hostile/infestation/larva.dm
  code/modules/mob/living/simple_animal/hostile/infestation/structures/hive_heart.dm
  code/modules/organs/internal/species/abomination.dm
  code/modules/species/outsider/abomination.dm
  icons/mob/simple_animal/abominable_infestation/48x48.dmi
Labels: 🔨1 Tweak, 🚢2 Ported

#419 Makes new track quieter
  sound/music/BraveSpaceExplorers.ogg
Labels: 🔨1 Tweak

#421 Fixes round-end blurb screen location
  code/game/world.dm
Labels: 🔧1 Fix

#420 Added smoke effect to cigarettes
  code/game/objects/effects/temporary.dm
  code/modules/clothing/masks/smokable.dm
  icons/effects/effects.dmi
Labels: 🔨1 Tweak

#422 Adds color background for latejoin job links
  code/game/jobs/job/job.dm
  code/modules/mob/new_player/new_player.dm
Labels: 🔨1 Tweak

#423 Fixes shuttle landing offset
  code/modules/mob/observer/eye/landing_eye/landing_eye.dm
Labels: 🔧1 Fix

#424 Exoplanet weights, footstep sounds for flesh floors
  code/datums/footsteps.dm
  code/game/turfs/flooring/flooring.dm
  code/modules/overmap/exoplanets/_exoplanet.dm
  code/modules/overmap/exoplanets/planet_types/barren.dm
  code/modules/overmap/exoplanets/planet_types/infested.dm
  code/modules/overmap/exoplanets/planet_types/shrouded.dm
  code/modules/overmap/exoplanets/turfs.dm
  maps/~mapsystem/maps.dm
  sound/effects/footstep/mud1.ogg
  sound/effects/footstep/mud2.ogg
  sound/effects/footstep/mud3.ogg
  sound/effects/footstep/mud4.ogg
Labels: 🔨1 Tweak, 🚢2 Ported

#426 Queue icon update optimization
  baystation12.dme
  code/__defines/subsystem-priority.dm
  code/controllers/subsystems/icon_updates.dm
  code/controllers/subsystems/processing/icon_updates.dm
Labels: 🔬1 Code improvement, 🚢2 Ported

#425 Chemical tanks
  baystation12.dme
  code/game/objects/items/chemtank.dm
  icons/mob/onmob/onmob_back.dmi
  icons/obj/chemtank.dmi
Labels: 📘1 Feature

#427 Fixes ghost pointing hotkey, pixel-shifting and adds proper category for living keybinds
  code/_onclick/ghost.dm
  code/modules/keybindings/_defines.dm
  code/modules/keybindings/living.dm
  code/modules/mob/mob.dm
Labels: 🔬1 Code improvement, 🔧1 Fix

#428 Removes several lobby/jukebox tracks
  code/datums/audio/_tracks.dm
  code/datums/audio/jukebox.dm
  maps/torch/torch_lobby.dm
  sound/music/Clouds_of_Neptune.ogg
  sound/music/Torch.ogg
  sound/music/businessend.ogg
  sound/music/clouds.s3m
  sound/music/comet_haley.ogg
  sound/music/elevatormusic.ogg
  sound/music/voidsent.ogg
Labels: 💔2 Removal

#429 Quick fix to ctrl-alt click by ghosts
  code/_onclick/ghost.dm
Labels: 🔧1 Fix

#430 Rebel colony
  baystation12.dme
  code/__defines/colors.dm
  code/modules/clothing/gloves/terran-hands.dm
  code/modules/clothing/head/terran-head.dm
  code/modules/clothing/shoes/terran-feet.dm
  code/modules/clothing/suits/terran-suit.dm
  code/modules/clothing/under/accessories/terran-accessory.dm
  code/modules/clothing/under/terran-under.dm
  code/modules/overmap/ships/beacon.dm
  maps/random_ruins/exoplanet_ruins/playablecolony/playablecolony.dm
  maps/random_ruins/exoplanet_ruins/playablecolony2/playablecolony2.dm
  maps/random_ruins/exoplanet_ruins/playablecolony_rebel/rebel_colony.dm
  maps/random_ruins/exoplanet_ruins/playablecolony_rebel/rebel_colony.dmm
  maps/random_ruins/exoplanet_ruins/playablecolony_rebel/rebel_colony_jobs.dm
  maps/random_ruins/exoplanet_ruins/playablecolony_rebel/rebel_colony_radio.dm
  maps/torch/torch.dm
Labels: 🍁1 Map

#431 Animated pointing
  code/modules/mob/mob.dm
Labels: 🔨1 Tweak, 🚢2 Ported

#433 Tests use Byond 514.1589 now
  .github/workflows/test.yml
Labels: 💻2 Github

#434 SDMM suite 1.5 -> 1.7 + Extools -> Auxtools
  .github/workflows/test.yml
  SpacemanDMM.toml
  code/__defines/spaceman_dmm.dm
  code/controllers/subsystems/fluids.dm
  code/datums/outfits/outfit.dm
  code/game/gamemodes/objective.dm
  code/game/turfs/simulated.dm
  code/game/turfs/turf_fluids.dm
  code/game/world.dm
  code/modules/client/ui_style.dm
  code/modules/clothing/clothing_accessories.dm
  code/modules/hydroponics/grown.dm
  code/modules/mob/living/carbon/human/inventory.dm
  code/modules/paperwork/adminpaper.dm
  code/modules/paperwork/paper.dm
  code/modules/surgery/organs_internal.dm
  code/modules/synthesized_instruments/real_instruments.dm
Labels: 🔬1 Code improvement, 💻2 Github, 🚢2 Ported

#432 Finishes "Particle time" port
  .github/workflows/test.yml
  baystation12.dme
  code/game/objects/effects/effect_system.dm
  code/modules/mechs/equipment/utility.dm
  code/modules/mining/mine_turfs.dm
  code/modules/power/fusion/core/core_field.dm
  code/modules/projectiles/projectile/energy.dm
Labels: 🔧1 Fix

#435 /tg/station plane master, renderer
  baystation12.dme
  code/__defines/__initialization.dm
  code/__defines/__renderer.dm
  code/__defines/_render_readme.md
  code/__defines/_renderer.dm
  code/__defines/flags.dm
  code/__defines/lists.dm
  code/__defines/subsystems.dm
  code/_helpers/qdel.dm
  code/_helpers/unsorted.dm
  code/_macros.dm
  code/_onclick/hud/fullscreen.dm
  code/controllers/evacuation/evacuation_pods.dm
  code/game/atoms_movable.dm
  code/game/gamemodes/endgame/bluespace_jump/bluespace_jump.dm
  code/modules/lighting/lighting_planemaster.dm
  code/modules/mob/login.dm
  code/modules/mob/logout.dm
Labels: 🔬1 Code improvement, 🚢2 Ported

#440 Attempt #2 at fixing whatever I brought upon myself
  code/__defines/_renderer.dm
  code/controllers/subsystems/zcopy.dm
  code/modules/multiz/zmimic/mimic_movable.dm
Labels: 🔧1 Fix

#439 Bluespace drive ports
  baystation12.dme
  code/__defines/flags.dm
  code/__defines/misc.dm
  code/_helpers/bubble_effect.dm
  code/_helpers/maths.dm
  code/_macros.dm
  code/datums/helper_datums/teleport.dm
  code/game/gamemodes/endgame/bluespace_jump/bluespace_jump.dm
  code/game/machinery/bluespace_drive.dm
  code/game/machinery/teleporter/pad.dm
  code/game/objects/effects/temporary.dm
  code/game/turfs/flooring/flooring.dm
  code/game/turfs/flooring/flooring_premade.dm
  code/modules/events/bsd_instability.dm
  code/modules/events/event_container.dm
  code/modules/mob/living/simple_animal/hostile/bluespace.dm
  code/modules/multiz/structures.dm
  icons/mob/simple_animal/bluespace.dmi
  icons/obj/machines/bluespacedrive.dmi
  maps/torch/torch_procs.dm
  maps/~mapsystem/maps.dm
  sound/ambience/bsd_alarm.ogg
  sound/machines/BSD_damaging.ogg
  sound/machines/BSD_explosion.ogg
  sound/machines/BSD_idle.ogg
  sound/machines/BSD_interact.ogg
  test/check-paths.sh
Labels: 📘1 Feature, 🔨1 Tweak, 🚢2 Ported

#441 Finishes RUST tweaks
  code/modules/power/fusion/core/core_field.dm
Labels: 🔨1 Tweak

#442 Full-auto laser sprites
  code/modules/projectiles/guns/energy/laser.dm
  code/modules/projectiles/guns/energy/secure.dm
  icons/mob/onmob/items/lefthand_guns.dmi
  icons/mob/onmob/items/lefthand_guns_secure.dmi
  icons/obj/guns/laser_auto.dmi
Labels: 🔨1 Tweak

#443 Reorganizes mil ranks and lighting files
  baystation12.dme
  code/datums/mil_ranks/_mil_ranks.dm
  code/datums/mil_ranks/empire.dm
  code/datums/mil_ranks/skrell.dm
  code/modules/power/lighting.dm
  code/modules/power/lighting/_lighting.dm
  code/modules/power/lighting/items.dm
  maps/away/skrellscoutship/skrellscoutship.dm
Labels: 🔬1 Code improvement

#444 Commando voidsuit
  code/modules/clothing/spacesuits/void/misc.dm
  icons/mob/onmob/onmob_head.dmi
  icons/mob/onmob/onmob_suit.dmi
  icons/obj/clothing/obj_head.dmi
  icons/obj/clothing/obj_suit.dmi
Labels: 🔨1 Tweak, 🚢2 Ported

#445 Engineering resprite: Suits
  code/modules/clothing/spacesuits/rig/suits/station.dm
  code/modules/clothing/suits/utility.dm
  code/modules/xenoarcheaology/tools/equipment.dm
  icons/mob/onmob/items/lefthand.dmi
  icons/mob/onmob/items/lefthand_hats.dmi
  icons/mob/onmob/items/lefthand_spacesuits.dmi
  icons/mob/onmob/items/righthand.dmi
  icons/mob/onmob/items/righthand_hats.dmi
  icons/mob/onmob/items/righthand_spacesuits.dmi
  icons/mob/onmob/onmob_feet.dmi
  icons/mob/onmob/onmob_hands.dmi
  icons/mob/onmob/onmob_head.dmi
  icons/mob/onmob/onmob_rig_back.dmi
  icons/mob/onmob/onmob_suit.dmi
  icons/mob/species/skrell/onmob_head_skrell.dmi
  icons/mob/species/skrell/onmob_suit_skrell.dmi
  icons/mob/species/unathi/generated/onmob_feet_unathi.dmi
  icons/mob/species/unathi/generated/onmob_hands_unathi.dmi
  icons/mob/species/unathi/generated/onmob_rig_back_unathi.dmi
  icons/mob/species/unathi/onmob_head_helmet_unathi.dmi
  icons/mob/species/unathi/onmob_suit_unathi.dmi
  icons/obj/clothing/obj_feet.dmi
  icons/obj/clothing/obj_hands.dmi
  icons/obj/clothing/obj_head.dmi
  icons/obj/clothing/obj_suit.dmi
  icons/obj/clothing/species/skrell/obj_head_skrell.dmi
  icons/obj/clothing/species/skrell/obj_suit_skrell.dmi
  icons/obj/clothing/species/unathi/obj_head_unathi.dmi
  icons/obj/clothing/species/unathi/obj_suit_unathi.dmi
  icons/obj/rig_modules.dmi
Labels: 🔨1 Tweak, 🚢2 Ported

#446 Radial menu fix, tweaks
  baystation12.dme
  code/__defines/__renderer.dm
  code/_onclick/hud/radial.dm
  code/_onclick/hud/radial_persistent.dm
  code/modules/clothing/clothing_accessories.dm
Labels: 🔬1 Code improvement, 🔨1 Tweak, 🔧1 Fix

#404 Cross-server communications
  code/__defines/misc.dm
  code/_global_vars/misc.dm
  code/controllers/configuration.dm
  code/controllers/evacuation/evacuation_pods.dm
  code/controllers/evacuation/evacuation_shuttle.dm
  code/controllers/subsystems/ticker.dm
  code/game/gamemodes/endgame/supermatter_cascade/universe.dm
  code/game/gamemodes/game_mode.dm
  code/game/gamemodes/nuclear/nuclear.dm
  code/game/machinery/nuclear_bomb.dm
  code/game/world.dm
  code/modules/admin/admin.dm
  code/modules/admin/admin_verbs.dm
  code/modules/modular_computers/file_system/programs/command/comm.dm
  nano/templates/communication.tmpl
Labels: 📘1 Feature, 🚢2 Ported

#332 Better flamethrowers, turf fires
  baystation12.dme
  code/_helpers/global_access.dm
  code/controllers/subsystems/air.dm
  code/controllers/subsystems/turf_fire.dm
  code/game/machinery/alarm.dm
  code/game/machinery/doors/door.dm
  code/game/objects/effects/decals/Cleanable/fuel.dm
  code/game/objects/effects/fire.dm
  code/game/objects/items/weapons/flamethrower.dm
  code/game/objects/items/weapons/tanks/tanks.dm
  code/game/objects/items/weapons/tools/weldingtool.dm
  code/game/turfs/simulated/floor.dm
  code/game/turfs/turf.dm
  code/game/turfs/turf_changing.dm
  code/modules/ZAS/Fire.dm
  code/modules/ZAS/Zone.dm
  code/modules/admin/verbs/diagnostics.dm
  code/modules/codex/entries/exosuits.dm
  code/modules/mechs/equipment/combat.dm
  code/modules/mob/living/simple_animal/simple_animal.dm
  code/modules/reagents/Chemistry-Reagents.dm
  code/modules/reagents/Chemistry-Reagents/Chemistry-Reagents-Core.dm
  code/modules/reagents/Chemistry-Reagents/Chemistry-Reagents-Dispenser.dm
  code/modules/reagents/Chemistry-Reagents/Chemistry-Reagents-Food.dm
  code/modules/reagents/Chemistry-Reagents/Chemistry-Reagents-Other.dm
  code/modules/research/designs/designs_mechfab.dm
  icons/effects/turf_fire.dmi
  icons/mecha/mech_equipment.dmi
  icons/mecha/mech_weapon_overlays.dmi
  icons/obj/flamethrower_new.dmi
  sound/items/welderactivate.ogg
  sound/items/welderdeactivate.ogg
  sound/weapons/guns/flamethrower/flamethrower1.ogg
  sound/weapons/guns/flamethrower/flamethrower2.ogg
  sound/weapons/guns/flamethrower/flamethrower3.ogg
  sound/weapons/guns/flamethrower/flamethrower_empty.ogg
  test/run-test.sh
Labels: 📘1 Feature, 🔨1 Tweak

#447 Adds OBS ranks
  baystation12.dme
  code/datums/mil_ranks/obs.dm
  code/modules/submaps/submap_job.dm
  maps/away/obs_shuttle/obs_shuttle_jobs.dm
  maps/torch/torch_ranks.dm
Labels: 🔨1 Tweak

#448 Suit breaches consider armor, have higher threshold
  code/modules/clothing/spacesuits/breaches.dm
  code/modules/clothing/spacesuits/rig/rig_pieces.dm
  code/modules/clothing/spacesuits/void/void.dm
  code/modules/mob/living/carbon/human/human_damage.dm
  code/modules/mob/living/carbon/human/human_defense.dm
Labels: ⚖1 Balance, 🔬1 Code improvement

#449 Heat effect fixes
  code/game/objects/effects/misc.dm
  code/modules/admin/verbs/grief_fixers.dm
  code/modules/xgm/gases.dm
  code/modules/xgm/xgm_gas_mixture.dm
Labels: 🔧1 Fix, 🚢2 Ported

#450 Attempt #3 at fixing open space
  code/__defines/_renderer.dm
  code/controllers/subsystems/zcopy.dm
Labels: 🔧1 Fix

#451 Increases alpha level of openspace multiplier
  code/modules/multiz/zmimic/mimic_movable.dm
Labels: 🔨1 Tweak

#452 Fixes AI eye
  code/modules/mob/observer/eye/eye.dm
  code/modules/mob/observer/eye/freelook/ai/eye.dm
  code/modules/mob/observer/eye/freelook/ai/update_triggers.dm
  code/modules/mob/observer/eye/freelook/chunk.dm
Labels: 🔧1 Fix

#453 Adds more hair, booster mods, fade patterns.
  code/__defines/mobs.dm
  code/modules/organs/external/head.dm
  code/modules/sprite_accessories/_accessory.dm
  code/modules/sprite_accessories/_accessory_facial.dm
  code/modules/sprite_accessories/_accessory_hair.dm
  code/modules/sprite_accessories/accessory_booster.dm
  code/modules/sprite_accessories/accessory_hair_fade.dm
  icons/mob/human_races/species/human/facial.dmi
  icons/mob/human_races/species/human/hair.dmi
  icons/mob/human_races/species/human/hair_fade.dmi
  icons/mob/human_races/species/human/subspecies/booster_mods.dmi
Labels: 🔬1 Code improvement, 🔨1 Tweak, 🚢2 Ported

#455 Crew records fix
  code/modules/modular_computers/file_system/programs/generic/records.dm
  code/modules/modular_computers/file_system/reports/crew_record.dm
Labels: 🔧1 Fix

#456 Dressup verb adjustments
  code/modules/admin/admin_verbs.dm
  code/modules/admin/view_variables/topic.dm
  code/modules/client/client_procs.dm
Labels: 🔨1 Tweak

#457 Station traits tweaks
  code/datums/station_traits/_station_trait.dm
  code/datums/station_traits/negative.dm
  code/datums/station_traits/positive.dm
Labels: 🔨1 Tweak

#460 Fix chat loading on reconnect
  code/modules/mob/login.dm
Labels: 🔧1 Fix, 🚢2 Ported

#461 Fix virology recipes
  code/modules/reagents/recipes/virology.dm
Labels: 🔧1 Fix

#462 New player init fix
  code/modules/mob/new_player/logout.dm
  code/modules/mob/new_player/new_player.dm
Labels: 🔧1 Fix

#464 No more forced lore popup for new players
  code/modules/client/client_procs.dm
Labels: 🔨1 Tweak

#465 Fixes remote weapon circuit
  code/game/machinery/remote_weapon.dm
Labels: 🔧1 Fix

#403 Even more virology stuff
  baystation12.dme
  code/datums/disease/_disease.dm
  code/datums/disease/advance/symptoms/choking.dm
  code/datums/disease/advance/symptoms/viral.dm
  code/datums/disease/advance/symptoms/vomit.dm
  code/datums/disease/diseases/rage.dm
  code/game/machinery/computer/pandemic.dm
  code/modules/awaymissions/corpse.dm
  code/modules/mob/living/carbon/human/human_species.dm
  code/modules/mob/living/carbon/human/life.dm
  code/modules/reagents/Chemistry-Holder.dm
  maps/away/lar_maria/lar_maria.dm
Labels: 🔨1 Tweak, 🚢2 Ported

#466 Various QoL and Stuff
  code/game/machinery/alarm.dm
  code/modules/mob/living/carbon/human/human.dm
  code/modules/overmap/ships/computers/helm.dm
Labels: 🔨1 Tweak

#469 Chem smoke fix
  code/game/objects/effects/chem/chemsmoke.dm
  code/game/objects/items/weapons/grenades/chem_grenade.dm
Labels: 🔧1 Fix
