Repository vlggms/tegustation-bay12, pull requests merged in 2023-10, with the labels that each got.

#478 Formaldehyde needs water, not oxygen now
  code/modules/reagents/recipes/toxin.dm
Labels: 🔨1 Tweak

#458 Catastrophe events, Leviathan
  baystation12.dme
  code/__defines/misc.dm
  code/_onclick/item_attack.dm
  code/controllers/configuration.dm
  code/controllers/subsystems/event.dm
  code/game/objects/effects/temporary.dm
  code/modules/events/event_container.dm
  code/modules/events/infestation_hive_space.dm
  code/modules/events/leviathan_attack.dm
  code/modules/events/leviathan_spawn.dm
  code/modules/mob/living/simple_animal/hostile/infestation/_infestation.dm
  code/modules/mob/living/simple_animal/hostile/infestation/aggregate.dm
  code/modules/mob/living/simple_animal/hostile/infestation/larva.dm
  code/modules/mob/living/simple_animal/hostile/infestation/meatchip.dm
  code/modules/mob/living/simple_animal/hostile/infestation/structures/hive_heart.dm
  code/modules/overmap/disperser/disperser_fire.dm
  code/modules/overmap/events/event.dm
  code/modules/projectiles/projectile/beams.dm
  config/example/config.txt
  icons/effects/effects.dmi
  icons/mob/simple_animal/abominable_infestation/32x32.dmi
  icons/mob/simple_animal/abominable_infestation/48x48.dmi
  icons/obj/overmap.dmi
  sound/effects/alarm_catastrophe.ogg
  sound/simple_mob/abominable_infestation/aggregate/attack.ogg
  sound/simple_mob/abominable_infestation/aggregate/death.ogg
  sound/simple_mob/abominable_infestation/aggregate/spawn_meatchip.ogg
  sound/simple_mob/abominable_infestation/leviathan/apocalypse.ogg
  sound/simple_mob/abominable_infestation/leviathan/death.ogg
  sound/simple_mob/abominable_infestation/leviathan/wail1-long.ogg
  sound/simple_mob/abominable_infestation/leviathan/wail1.ogg
  sound/simple_mob/abominable_infestation/leviathan/wail2.ogg
  sound/simple_mob/abominable_infestation/meatchip/death.ogg
Labels: 📘1 Feature

#479 Infestation Aggregate tweaks
  code/modules/mob/living/simple_animal/hostile/infestation/aggregate.dm
  code/modules/mob/living/simple_animal/hostile/infestation/meatchip.dm
Labels: ⚖1 Balance, 🔨1 Tweak

#480 Changes simple mob burning damage calculation
  code/modules/mob/living/simple_animal/simple_animal.dm
Labels: ⚖1 Balance

#472 Some more abnormalities
  baystation12.dme
  code/_helpers/matrices.dm
  code/_onclick/hud/action.dm
  code/datums/orbit.dm
  code/modules/mob/living/simple_animal/hostile/megafauna/_megafauna.dm
  code/modules/mob/living/simple_animal/hostile/megafauna/abnormality/all_around_helper.dm
  icons/mob/simple_animal/all_around_helper.dmi
  icons/obj/action_buttons/actions.dmi
  sound/simple_mob/abnormality/all_around_helper/attack.ogg
  sound/simple_mob/abnormality/all_around_helper/disable.ogg
  sound/simple_mob/abnormality/all_around_helper/move01.ogg
  sound/simple_mob/abnormality/all_around_helper/move02.ogg
  sound/simple_mob/abnormality/all_around_helper/move03.ogg
  sound/simple_mob/abnormality/all_around_helper/rise.ogg
Labels: 📘1 Feature, 🚢2 Ported

#470 Traitor Stuff and Misc Stuff
  code/datums/uplink/stealthy_and_inconspicuous_weapons.dm
  code/game/antagonist/station/traitor.dm
  code/game/machinery/alarm.dm
  code/game/objects/items/weapons/grenades/grenade.dm
  code/game/objects/items/weapons/material/knives.dm
  code/modules/modular_computers/computers/subtypes/preset_pda.dm
  code/modules/overmap/ships/computers/helm.dm
Labels: 🔨1 Tweak

#483 Culture additions
  baystation12.dme
  code/__defines/culture.dm
  code/modules/culture_descriptor/faction/factions_human.dm
  code/modules/culture_descriptor/location/human/independent.dm
  code/modules/culture_descriptor/location/human/independent_space_confederation.dm
  code/modules/culture_descriptor/location/human/sol_central_government.dm
  code/modules/culture_descriptor/location/human/terran_government.dm
  maps/~mapsystem/maps.dm
Labels: 🔨1 Tweak, 🌳1 Lore

#484 Fix to "territory" of newly added home systems
  code/modules/culture_descriptor/location/human/independent_space_confederation.dm
Labels: 🔨1 Tweak

#485 quick fix of the new traitor items
  code/game/objects/items/devices/microlaser_radioactive.dm
  code/game/objects/items/weapons/powerfist.dm
Labels: 🔧1 Fix
