Repository vlggms/tegustation-bay12, pull requests merged in 2023-12, with the labels that each got.

#489 Lore & Language
  baystation12.dme
  code/__defines/culture.dm
  code/__defines/languages.dm
  code/game/antagonist/outsider/actors.dm
  code/modules/culture_descriptor/culture/cultures_adherent.dm
  code/modules/culture_descriptor/culture/cultures_diona.dm
  code/modules/culture_descriptor/culture/cultures_human.dm
  code/modules/culture_descriptor/culture/cultures_ipc.dm
  code/modules/culture_descriptor/culture/cultures_serpentid.dm
  code/modules/culture_descriptor/culture/cultures_skrell.dm
  code/modules/culture_descriptor/culture/cultures_unathi.dm
  code/modules/culture_descriptor/culture/cultures_vox.dm
  code/modules/culture_descriptor/faction/factions_human.dm
  code/modules/culture_descriptor/faction/factions_skrell.dm
  code/modules/culture_descriptor/location/human/sol_central_government.dm
  code/modules/culture_descriptor/location/locations_unathi.dm
  code/modules/integrated_electronics/subtypes/input.dm
  code/modules/mob/language/alien/skrell.dm
  code/modules/mob/language/alien/unathi.dm
  code/modules/mob/language/human/chinese.dm
  code/modules/mob/language/human/english.dm
  code/modules/mob/language/human/iberian.dm
  code/modules/mob/language/human/indian.dm
  code/modules/mob/language/human/misc/common.dm
  code/modules/mob/language/human/misc/gutter.dm
  code/modules/mob/language/human/misc/spacer.dm
  code/modules/mob/language/human/russian.dm
  code/modules/mob/language/human/selenian.dm
  code/modules/mob/language/synthetic.dm
  code/modules/mob/living/carbon/alien/diona/_nymph.dm
  code/modules/mob/living/silicon/ai/ai.dm
  code/modules/mob/living/silicon/pai/pai.dm
  code/modules/mob/living/silicon/pai/software_modules.dm
  code/modules/mob/living/silicon/robot/preset.dm
  code/modules/mob/living/silicon/silicon.dm
  code/modules/mob/living/simple_animal/familiars/familiars.dm
  code/modules/modular_computers/hardware/nano_printer.dm
  code/modules/organs/internal/species/nabber.dm
  code/modules/overmap/ships/computers/sensors.dm
  code/modules/paperwork/paper.dm
  code/modules/species/station/nabber.dm
  maps/away/verne/verne_jobs.dm
  maps/torch/game/antagonist/outsider/deathsquad.dm
  maps/torch/game/antagonist/outsider/ert.dm
  maps/torch/game/antagonist/outsider/foundation.dm
  maps/torch/job/torch_jobs.dm
  maps/torch/language/human/euro.dm
Labels: 🔨1 Tweak, 🌳1 Lore

#491 Adds Latin language
  baystation12.dme
  code/__defines/languages.dm
  code/modules/mob/language/human/latin.dm
  code/stylesheet.dm
Labels: 🔨1 Tweak

#494 Explosion damage tweak
  code/modules/mob/living/carbon/human/human_defense.dm
Labels: ⚖1 Balance

#493 Magazine quickload
  code/modules/projectiles/ammunition.dm
Labels: 🔨1 Tweak

#495 Fixes & Updates cinematics
  code/datums/cinematic.dm
Labels: 🔨1 Tweak, 🔧1 Fix

#459 Miningstation remap
  maps/away/miningstation/miningstation.dmm
Labels: 🍁1 Map

#492 create Korean & German
  baystation12.dme
  code/__defines/languages.dm
  code/modules/mob/language/human/german.dm
  code/modules/mob/language/human/korean.dm
Labels: 🔨1 Tweak
