Repository vlggms/tegustation-bay12, pull requests merged in 2023-03, with the labels that each got.

#308 Ports Veymed Sprites, Allows IPC Veymed use.
  code/modules/organs/robolimbs.dm
  code/modules/species/station/machine.dm
  code/modules/sprite_accessories/_accessory_hair.dm
  icons/mob/human_races/cyberlimbs/veymed/veymed_gynoid.dmi
  icons/mob/human_races/cyberlimbs/veymed/veymed_main.dmi
Labels: 🔨1 Tweak, 🚢2 Ported

#181 Random rooms framework
  baystation12.dme
  code/controllers/subsystems/mapping.dm
  code/game/objects/effects/spawners/roomspawners.dm
  icons/effects/landmarks.dmi
  maps/random_rooms/_random_room.dm
Labels: 📘1 Feature, 🚢2 Ported

#340 More guns
  baystation12.dme
  code/__defines/guns.dm
  code/modules/item_worth/worths_list.dm
  code/modules/projectiles/ammunition/boxes.dm
  code/modules/projectiles/ammunition/bullets.dm
  code/modules/projectiles/guns/launcher/rocket.dm
  code/modules/projectiles/guns/projectile/revolver.dm
  code/modules/projectiles/guns/projectile/rocket_launcher.dm
  code/modules/projectiles/projectile/bullets.dm
  code/modules/projectiles/projectile/special.dm
  icons/obj/ammo.dmi
  icons/obj/guns/launchers.dmi
  icons/obj/guns/revolvers.dmi
  icons/obj/projectiles.dmi
  sound/weapons/guns/interaction/launcher_reload.ogg
  sound/weapons/gunshot/launcher.ogg
  sound/weapons/gunshot/launcher_empty.ogg
  sound/weapons/gunshot/revolver.ogg
  sound/weapons/gunshot/revolver_heavy.ogg
  sound/weapons/gunshot/revolver_light.ogg
Labels: 🔨1 Tweak
