Repository vlggms/tegustation-bay12, pull requests merged in 2024-01, with the labels that each got.

#497 Defibrilator tweaks/fixes
  baystation12.dme
  code/game/objects/items/weapons/defib.dm
Labels: 🔬1 Code improvement, 🔨1 Tweak, 🔧1 Fix

#498 Fixes multi-tile doors
  code/game/machinery/doors/door.dm
Labels: 🔧1 Fix

#499 Singularity tweaks
  code/modules/power/singularity/singularity.dm
Labels: 🔬1 Code improvement, 🔨1 Tweak

#500 Fixes space drift of pulled objects
  code/game/area/areas.dm
  code/game/atoms_movable.dm
  code/modules/mechs/mech_movement.dm
Labels: 🔧1 Fix

#501 Fixes examination of storage by ghosts
  code/game/objects/items/weapons/storage/storage.dm
Labels: 🔧1 Fix

#502 Tweaks to brain damage & healing
  code/modules/organs/internal/brain.dm
Labels: ⚖1 Balance, 🔬1 Code improvement

#503 Changes glass color
  code/__defines/colors.dm
Labels: 🔨1 Tweak

#505 Space turfs always have no gravity
  code/game/area/areas.dm
Labels: 🔨1 Tweak

#486 Antagonist welcome Sounds
  code/game/antagonist/antagonist.dm
  code/game/antagonist/antagonist_create.dm
  code/game/antagonist/outsider/commando.dm
  code/game/antagonist/outsider/deathsquad.dm
  code/game/antagonist/outsider/mercenary.dm
  code/game/antagonist/outsider/wizard.dm
  code/game/antagonist/station/changeling.dm
  code/game/antagonist/station/cultist.dm
  code/game/antagonist/station/revolutionary.dm
  code/game/antagonist/station/rogue_ai.dm
  code/game/antagonist/station/traitor.dm
  sound/misc/antag_alerts/changeling_alert.ogg
  sound/misc/antag_alerts/cult_alert.ogg
  sound/misc/antag_alerts/malf_alert.ogg
  sound/misc/antag_alerts/operative_alert.ogg
  sound/misc/antag_alerts/revolutionary_alert.ogg
  sound/misc/antag_alerts/traitor_alert.ogg
  sound/misc/antag_alerts/wizard_alert.ogg
Labels: 🔨1 Tweak

#507 Byond "\proper" and "\improper" are stripped from occupation prefs
  code/modules/client/preference_setup/occupation/occupation.dm
Labels: 🔧1 Fix

#504 CQC and Grab ports
  code/datums/movement/mob.dm
  code/game/objects/items.dm
  code/modules/mob/grab/abomination/abom_aggressive.dm
  code/modules/mob/grab/abomination/abom_kill.dm
  code/modules/mob/grab/grab_datum.dm
  code/modules/mob/grab/nab/nab_aggressive.dm
  code/modules/mob/grab/nab/nab_kill.dm
  code/modules/mob/grab/nab/nab_passive.dm
  code/modules/mob/grab/normal/norm_aggressive.dm
  code/modules/mob/grab/normal/norm_kill.dm
  code/modules/mob/grab/normal/norm_neck.dm
  code/modules/mob/grab/normal/norm_struggle.dm
  code/modules/mob/living/carbon/human/human.dm
  code/modules/mob/living/carbon/human/human_defense.dm
  code/modules/mob/living/living.dm
  code/modules/mob/mob.dm
  code/modules/mob/mob_movement.dm
  code/modules/projectiles/projectile.dm
  code/modules/species/species.dm
Labels: 🔬1 Code improvement, 🔨1 Tweak, 🔧1 Fix, 🚢2 Ported

#508 Tweaks announcement sounds
  code/procs/announce.dm
  sound/misc/announce.ogg
Labels: 🔨1 Tweak

#509 Sprites and Structures
  code/game/turfs/flooring/flooring_decals.dm
  code/modules/power/singularity/particle_accelerator/particle_accelerator.dm
  code/modules/power/singularity/particle_accelerator/particle_chamber.dm
  code/modules/power/singularity/particle_accelerator/particle_control.dm
  code/modules/power/singularity/particle_accelerator/particle_emitter.dm
  code/modules/power/singularity/particle_accelerator/particle_power.dm
  icons/obj/closets/bases/closet.dmi
  icons/obj/janitor.dmi
  icons/obj/machines/mining_machines.dmi
  icons/obj/machines/particle_accelerator3.dmi
  icons/obj/objects.dmi
  icons/turf/flooring/decals.dmi
Labels: 🔨1 Tweak

#510 Yet another announcement sounds tweak
  code/modules/modular_computers/file_system/programs/command/comm.dm
  code/procs/announce.dm
Labels: 🔨1 Tweak

#511 OBS members now get a recolored syndie suit
  code/modules/clothing/spacesuits/void/merc.dm
  icons/mob/onmob/onmob_head.dmi
  icons/mob/onmob/onmob_suit.dmi
  icons/obj/clothing/obj_head.dmi
  icons/obj/clothing/obj_suit.dmi
  maps/away/obs_shuttle/obs_shuttle.dm
  maps/away/obs_shuttle/obs_shuttle_jobs.dm
  maps/away/obs_shuttle/obs_shuttle_objects.dm
Labels: 🔨1 Tweak

#513 Airlock mapping helpers & Some updates
  baystation12.dme
  code/__defines/__renderer.dm
  code/datums/wires/_wires.dm
  code/game/machinery/doors/airlock.dm
  code/game/machinery/doors/door.dm
  code/game/machinery/doors/multi_tile.dm
  code/game/objects/effects/mapping_helpers.dm
  icons/effects/mapping_helpers.dmi
  icons/obj/doors/double/unres.dmi
  icons/obj/doors/station/unres.dmi
Labels: 📘1 Feature, 🔨1 Tweak

#514 Tiny fix(?) to delimbs
  code/modules/organs/external/_external_damage.dm
Labels: 🔬1 Code improvement

#506 Mind Engraver, Dominion Tech
  baystation12.dme
  code/__defines/research.dm
  code/game/machinery/computer/mind_engraver_control.dm
  code/game/machinery/mind_engraver.dm
  code/game/objects/items/devices/mind_engraver_chip.dm
  code/game/objects/items/weapons/circuitboards/computer/computer.dm
  code/game/objects/items/weapons/circuitboards/machinery/mind_engraver.dm
  code/game/objects/objs.dm
  code/game/objects/structures.dm
  code/modules/mob/living/living.dm
  code/modules/research/designs/designs_circuits.dm
  code/modules/research/part_replacer.dm
  code/modules/research/research.dm
  icons/obj/machines/mind_engraver.dmi
Labels: 📘1 Feature, 🌳1 Lore

#481 Updating slaver base away site
  baystation12.dme
  code/modules/ai/aI_holder_subtypes/simple_mob_ai.dm
  code/modules/ai/ai_holder_communication.dm
  code/modules/ai/ai_holder_cooperation.dm
  code/modules/ai/say_list.dm
  code/modules/mob/living/simple_animal/defense.dm
  code/modules/mob/living/simple_animal/hostile/scg.dm
  code/modules/mob/living/simple_animal/simple_animal.dm
  code/modules/organs/blood.dm
  icons/mob/simple_animal/abominable_infestation/48x48.dmi
  icons/mob/simple_animal/human_enemies.dmi
  maps/away/slavers/random/slavers_base_mining_infested.dmm
  maps/away/slavers/random/slavers_base_mining_normal.dmm
  maps/away/slavers/slavers_base-old.dmm
  maps/away/slavers/slavers_base.dm
  maps/away/slavers/slavers_base.dmm
  maps/away/slavers/slavers_base_areas.dm
  maps/away/slavers/slavers_base_random_rooms.dm
  maps/away/slavers/slavers_base_sprites.dmi
Labels: 🔨1 Tweak, 🍁1 Map

#516 Aggregate's meatchips die 15 seconds after spawn
  code/modules/mob/living/simple_animal/hostile/infestation/aggregate.dm
  code/modules/mob/living/simple_animal/hostile/infestation/meatchip.dm
Labels: ⚖1 Balance

#517 Adds a length check to the pick() in ai request help
  code/modules/ai/ai_holder_cooperation.dm
Labels: 🔧1 Fix

#518 Culture / Background updates
  code/__defines/culture.dm
  code/game/jobs/job/job.dm
  code/modules/client/preference_setup/occupation/occupation.dm
  code/modules/client/preferences.dm
  code/modules/culture_descriptor/religion/religions_human.dm
  code/modules/mob/new_player/new_player.dm
  code/modules/species/station/skrell.dm
  maps/away/obs_shuttle/obs_shuttle_jobs.dm
  maps/~mapsystem/maps.dm
Labels: 📘1 Feature, 🔨1 Tweak

#519 Fixes AI help requests
  code/modules/ai/ai_holder_cooperation.dm
Labels: 🔧1 Fix

#520 Thrown mob stun balance
  code/modules/mob/living/living_defense.dm
  code/modules/mob/living/simple_animal/hostile/infestation/aggregate.dm
Labels: ⚖1 Balance

#521 Doors can completely destroyed. Fixes some of the door assembly code
  code/game/machinery/doors/airlock.dm
  code/game/machinery/doors/door.dm
  code/game/objects/structures/door_assembly.dm
Labels: 🔬1 Code improvement, 🔨1 Tweak

#522 Incendiary bullets have a fire stack limit
  code/modules/projectiles/projectile/bullets.dm
Labels: ⚖1 Balance

#524 Replaces speech sound of SCG and Riot officer simple mobs
  code/modules/mob/living/simple_animal/hostile/riot.dm
  code/modules/mob/living/simple_animal/hostile/scg.dm
Labels: 🔨1 Tweak

#525 TGS chat commands now display security level & evac status
  code/modules/discord/tgs_commands.dm
Labels: 🔨1 Tweak
