Repository vlggms/tegustation-bay12, pull requests merged in 2024-02, with the labels that each got.

#527 Adds emote cooldown, adds salute sound
  code/modules/emotes/definitions/visible.dm
  code/modules/emotes/emote_define.dm
  code/modules/mob/mob_defines.dm
  sound/misc/salute.ogg
Labels: 🔨1 Tweak

#526 Cooperative AI tweaks
  code/modules/ai/ai_holder_communication.dm
  code/modules/ai/ai_holder_cooperation.dm
  code/modules/ai/ai_holder_targeting.dm
Labels: 🔨1 Tweak

#528 Ship holomap tweaks & fixes
  baystation12.dme
  code/__defines/holomap.dm
  code/__defines/turfs.dm
  code/_onclick/hud/screen_holomap.dm
  code/controllers/subsystems/holomap.dm
  code/modules/holomap/ship_holomap.dm
Labels: 🔬1 Code improvement, 🔧1 Fix, 🚢2 Ported

#531 Intrepid's faction defines
  code/__defines/culture.dm
Labels: 🔨1 Tweak

#530 Cargo rework update
  baystation12.dme
  code/__defines/culture.dm
  code/__defines/supply.dm
  code/controllers/subsystems/supply.dm
  code/game/jobs/access_datum.dm
  code/game/machinery/trade_beacon.dm
  code/game/objects/effects/decals/contraband.dm
  code/modules/item_worth/value_procs.dm
  code/modules/item_worth/worths_list.dm
  code/modules/materials/_materials.dm
  code/modules/materials/definitions/materials_glass.dm
  code/modules/materials/definitions/materials_metal.dm
  code/modules/materials/definitions/materials_mineral.dm
  code/modules/materials/definitions/materials_organic.dm
  code/modules/materials/definitions/materials_other.dm
  code/modules/materials/definitions/materials_stone.dm
  code/modules/materials/definitions/materials_wood.dm
  code/modules/modular_computers/computers/subtypes/preset_console.dm
  code/modules/modular_computers/file_system/computer_file.dm
  code/modules/modular_computers/file_system/programs/generic/supply.dm
  code/modules/modular_computers/file_system/programs/generic/supply_subtypes.dm
  code/modules/modular_computers/hardware/hard_drive.dm
  code/modules/reagents/Chemistry-Reagents.dm
  code/modules/reagents/Chemistry-Reagents/Chemistry-Reagents-Core.dm
  code/modules/reagents/Chemistry-Reagents/Chemistry-Reagents-Food.dm
  code/modules/reagents/Chemistry-Reagents/Chemistry-Reagents-Other.dm
  code/modules/reagents/Chemistry-Reagents/medicines/medicines_core.dm
  code/modules/reagents/Chemistry-Reagents/medicines/medicines_painkillers.dm
  code/modules/reagents/Chemistry-Reagents/medicines/medicines_special.dm
  code/modules/reagents/Chemistry-Reagents/medicines/medicines_stimulants.dm
  code/modules/reagents/Chemistry-Reagents/toxins/toxins_poisons.dm
  code/modules/trading_stations/_faction.dm
  code/modules/trading_stations/_trading_station.dm
  code/modules/trading_stations/trading_station_types/0_always_spawn/engineering.dm
  code/modules/trading_stations/trading_station_types/0_always_spawn/eva.dm
  code/modules/trading_stations/trading_station_types/0_always_spawn/medical.dm
  code/modules/trading_stations/trading_station_types/0_always_spawn/security.dm
  code/modules/trading_stations/trading_station_types/2_rare/weapons.dm
  code/modules/trading_stations/trading_station_types/3_very_rare/obs.dm
Labels: 🔨1 Tweak, 🔧1 Fix

#533 Explosion runtime fix
  code/game/objects/explosion_recursive.dm
Labels: 🔧1 Fix

#534 Gamemode & Ticker tweaks
  code/controllers/subsystems/ticker.dm
  code/modules/admin/admin.dm
  code/modules/admin/admin_verbs.dm
Labels: 🔨1 Tweak

#536 Singularity tweaks
  code/modules/power/singularity/particle_accelerator/particle.dm
  code/modules/power/singularity/singularity.dm
Labels: ⚖1 Balance, 🔨1 Tweak

#535 Switches gamemode restart logic a bit
  code/controllers/subsystems/ticker.dm
Labels: 🔨1 Tweak

#538 Tiny fullscreen fix
  code/modules/client/client_procs.dm
Labels: 🔧1 Fix

#537 Makes SCG clothing available outside of Torch, tweaks to SCG simple mob
  baystation12.dme
  code/datums/outfits/solgov.dm
  code/game/objects/items/weapons/storage/backpack.dm
  code/modules/awaymissions/corpse.dm
  code/modules/mob/living/simple_animal/hostile/scg.dm
  maps/torch/items/clothing/solgov-head.dm
  maps/torch/items/clothing/torch_specific.dm
  maps/torch/items/items.dm
  maps/torch/torch.dm
Labels: 🔨1 Tweak, 🔧1 Fix

#539 SCG explorer outfit moved outside of job type
  code/datums/outfits/solgov.dm
  code/modules/awaymissions/corpse.dm
Labels: 🔨1 Tweak

#540 Revolver fixes
  code/datums/outfits/horror_killers.dm
  code/datums/uplink/ammunition.dm
  code/game/objects/items/weapons/storage/uplink_kits.dm
  code/modules/fabrication/designs/general/designs_arms_ammo.dm
  code/modules/psionics/equipment/foundation_weapon.dm
  code/modules/psionics/equipment/null_ammo.dm
Labels: 🔨1 Tweak, 🔧1 Fix

#541 Replaces destroyed event with a signal on following
  code/modules/mob/observer/following.dm
Labels: 🔧1 Fix

#542 Tegus are no longer dense
  code/modules/mob/living/simple_animal/hostile/retaliate/tegu.dm
Labels: 🔨1 Tweak

#543 Fixes bluespace floor teleporting you even after its flooring is removed
  code/game/turfs/flooring/flooring_premade.dm
Labels: 🔧1 Fix

#544 Foundation revolver is now a medium subtype
  code/modules/codex/entries/psionics.dm
  code/modules/psionics/equipment/foundation_weapon.dm
Labels: 🔧1 Fix

#545 Singularity does not eat open turfs
  code/modules/power/singularity/act.dm
Labels: 🔧1 Fix

#532 More cargo updates
  baystation12.dme
  code/__defines/guns.dm
  code/__defines/supply.dm
  code/_global_vars/sound.dm
  code/controllers/subsystems/supply.dm
  code/game/machinery/trade_beacon.dm
  code/game/objects/items/weapons/storage/boxes.dm
  code/game/sound.dm
  code/modules/fabrication/designs/general/designs_arms_ammo.dm
  code/modules/item_worth/value_procs.dm
  code/modules/item_worth/worths_list.dm
  code/modules/mob/living/simple_animal/hostile/syndicate.dm
  code/modules/modular_computers/file_system/programs/generic/supply.dm
  code/modules/projectiles/ammunition.dm
  code/modules/projectiles/ammunition/boxes.dm
  code/modules/projectiles/ammunition/bullets.dm
  code/modules/projectiles/gun.dm
  code/modules/projectiles/guns/magnetic/magnetic_railgun.dm
  code/modules/projectiles/guns/projectile/automatic.dm
  code/modules/projectiles/projectile/bullets.dm
  code/modules/projectiles/projectile/magnetic.dm
  code/modules/psionics/equipment/null_ammo.dm
  code/modules/reagents/Chemistry-Reagents/toxins/toxins_drugs.dm
  code/modules/trading_stations/_faction.dm
  code/modules/trading_stations/_trading_station.dm
  code/modules/trading_stations/trading_station_types/0_always_spawn/medical.dm
  code/modules/trading_stations/trading_station_types/0_always_spawn/terra.dm
  code/modules/trading_stations/trading_station_types/2_rare/weapons.dm
  code/modules/trading_stations/trading_station_types/3_very_rare/obs.dm
  icons/obj/ammo.dmi
  maps/away/bunker/bunker_access.dm
  sound/weapons/gunshot/mp19.ogg
  sound/weapons/gunshot/mp38_1.ogg
  sound/weapons/gunshot/mp38_2.ogg
  sound/weapons/gunshot/mp5.ogg
  sound/weapons/gunshot/old_rifle.ogg
  sound/weapons/gunshot/pulse_energy.ogg
  sound/weapons/gunshot/railgun.ogg
  sound/weapons/gunshot/railgun_2.ogg
  sound/weapons/gunshot/smg.ogg
  sound/weapons/gunshot/smg_alt.ogg
  sound/weapons/gunshot/sniper_antimatter.ogg
  sound/weapons/gunshot/sniper_heavy.ogg
Labels: 🔬1 Code improvement, 🔨1 Tweak

#547 Adds quantum keycards
  baystation12.dme
  code/game/machinery/quantum_pad.dm
  code/game/objects/items/devices/quantum_keycard.dm
  code/modules/research/designs/designs_bluespace.dm
  icons/obj/device.dmi
Labels: 📘1 Feature

#548 RCD fixes
  code/game/objects/items/weapons/RCD.dm
Labels: 🔨1 Tweak, 🔧1 Fix

#549 Quickfix to shuttle power usage
  code/modules/shuttles/shuttle.dm
Labels: 🔧1 Fix

#550 Protolathe & circuit imprinter can multi-queue items
  code/modules/research/circuitprinter.dm
  code/modules/research/protolathe.dm
  code/modules/research/rdconsole.dm
Labels: 🔨1 Tweak, 🔧1 Fix

#551 Rapid Parts Replacer can now handle missing components
  code/game/machinery/_machines_base/machinery_components.dm
Labels: 🔨1 Tweak

#552 Fixes missing arguments in ability master creation
  code/_onclick/hud/ability_screen_objects.dm
  code/modules/spells/_spell_procs.dm
Labels: 🔧1 Fix

#554 Coin sounds
  code/game/objects/items/weapons/material/coins.dm
  sound/effects/coin_flip1.ogg
  sound/effects/coin_flip2.ogg
Labels: 🔨1 Tweak

#555 Miningstation Tweaks
  maps/away/miningstation/miningstation.dmm
Labels: 🍁1 Map

#556 Adds crew manifest chat command
  code/modules/discord/tgs_commands.dm
Labels: 🔨1 Tweak

#557 Minor floating chat tweaks
  code/game/atoms_movable.dm
  code/modules/mob/floating_message.dm
  code/modules/mob/mob.dm
Labels: 🔨1 Tweak, 🔧1 Fix

#560 Adds more sound effects to the game
  code/__defines/sound.dm
  code/game/atoms_movable.dm
  code/game/objects/items.dm
  code/game/objects/items/devices/flash.dm
  code/game/objects/items/devices/multitool.dm
  code/game/objects/items/devices/scanners/_scanner.dm
  code/game/objects/items/weapons/material/coins.dm
  code/game/objects/items/weapons/storage/belt.dm
  code/game/objects/items/weapons/storage/boxes.dm
  code/game/objects/items/weapons/storage/toolbox.dm
  code/game/objects/items/weapons/tools/crowbar.dm
  code/game/objects/items/weapons/tools/screwdriver.dm
  code/game/objects/items/weapons/tools/weldingtool.dm
  code/game/objects/items/weapons/tools/wirecutter.dm
  code/game/objects/items/weapons/tools/wrench.dm
  code/modules/assembly/assembly.dm
  code/modules/clothing/clothing.dm
  code/modules/library/lib_items.dm
  code/modules/paperwork/paper.dm
  code/modules/paperwork/photography.dm
  code/modules/projectiles/ammunition.dm
  code/modules/reagents/reagent_containers.dm
  code/modules/spellbook/_spellbook.dm
  sound/effects/splash1.ogg
  sound/effects/splash2.ogg
  sound/items/equip/jumpsuit_equip.ogg
  sound/items/equip/toolbelt_equip.ogg
  sound/items/handling/ammobox_drop.ogg
  sound/items/handling/ammobox_pickup.ogg
  sound/items/handling/book_drop.ogg
  sound/items/handling/book_pickup.ogg
  sound/items/handling/cardboardbox_drop.ogg
  sound/items/handling/cardboardbox_pickup.ogg
  sound/items/handling/cloth_drop.ogg
  sound/items/handling/cloth_pickup.ogg
  sound/items/handling/component_drop.ogg
  sound/items/handling/component_pickup.ogg
  sound/items/handling/crowbar_drop.ogg
  sound/items/handling/crowbar_pickup.ogg
  sound/items/handling/disk_drop.ogg
  sound/items/handling/disk_pickup.ogg
  sound/items/handling/multitool_drop.ogg
  sound/items/handling/multitool_pickup.ogg
  sound/items/handling/paper_drop.ogg
  sound/items/handling/paper_pickup.ogg
  sound/items/handling/screwdriver_drop.ogg
  sound/items/handling/screwdriver_pickup.ogg
  sound/items/handling/toolbelt_drop.ogg
  sound/items/handling/toolbelt_pickup.ogg
  sound/items/handling/toolbox_drop.ogg
  sound/items/handling/toolbox_pickup.ogg
  sound/items/handling/weldingtool_drop.ogg
  sound/items/handling/weldingtool_pickup.ogg
  sound/items/handling/wirecutter_drop.ogg
  sound/items/handling/wirecutter_pickup.ogg
  sound/items/handling/wrench_drop.ogg
  sound/items/handling/wrench_pickup.ogg
Labels: 🔨1 Tweak

#523 Further Infestation Updates
  baystation12.dme
  code/__defines/chemistry.dm
  code/modules/ai/ai_holder_targeting.dm
  code/modules/events/exo_awakening/_datums.dm
  code/modules/events/leviathan_attack.dm
  code/modules/mob/living/carbon/human/death.dm
  code/modules/mob/living/carbon/human/human.dm
  code/modules/mob/living/living.dm
  code/modules/mob/living/simple_animal/hostile/infestation/_infestation.dm
  code/modules/mob/living/simple_animal/hostile/infestation/aggregate.dm
  code/modules/mob/living/simple_animal/hostile/infestation/assembler.dm
  code/modules/mob/living/simple_animal/hostile/infestation/floatfly.dm
  code/modules/mob/living/simple_animal/hostile/infestation/larva.dm
  code/modules/mob/living/simple_animal/hostile/infestation/lurker.dm
  code/modules/mob/living/simple_animal/hostile/infestation/meatchip.dm
  code/modules/mob/living/simple_animal/hostile/infestation/rhino.dm
  code/modules/mob/living/simple_animal/hostile/infestation/spitter.dm
  code/modules/mob/living/simple_animal/hostile/infestation/structures/_infestation_structure.dm
  code/modules/mob/living/simple_animal/hostile/infestation/structures/hive_heart.dm
  code/modules/mob/living/simple_animal/hostile/infestation/structures/pike_burrow.dm
  code/modules/mob/living/simple_animal/hostile/megafauna/abnormality/white_night_apostles.dm
  code/modules/mob/living/simple_animal/simple_animal.dm
  code/modules/organs/blood.dm
  code/modules/reagents/Chemistry-Reagents/Chemistry-Reagents-Other.dm
  code/modules/reagents/Chemistry-Reagents/medicines/medicines_painkillers.dm
  code/modules/reagents/Chemistry-Recipes.dm
  code/modules/species/outsider/abomination.dm
  icons/mob/simple_animal/abominable_infestation/32x48.dmi
  icons/mob/simple_animal/abominable_infestation/48x48.dmi
  maps/away/bunker/bunker-1.dmm
  maps/away/bunker/random/bunker_mining_zone_infestation.dmm
  sound/effects/spike_attack.ogg
  sound/simple_mob/abominable_infestation/lurker/ambient_1.ogg
  sound/simple_mob/abominable_infestation/lurker/death.ogg
Labels: 🔬1 Code improvement, 📘1 Feature, 🔨1 Tweak

#561 Tweaks Casino Ship and Bearcat
  code/game/machinery/doors/airlock.dm
  maps/away/bearcat/bearcat-1.dmm
  maps/away/bearcat/bearcat-2.dmm
  maps/away/bearcat/bearcat.dm
  maps/away/bearcat/bearcat_access.dm
  maps/away/bearcat/bearcat_jobs.dm
  maps/away/bearcat/bearcat_objects.dm
  maps/away/casino/casino.dm
  maps/away/casino/casino.dmm
  maps/away/casino/casino_objects.dm
Labels: 🔨1 Tweak, 🍁1 Map
